/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: FHTC
	Description: FHTC blocks stylesheet. Block Editor Preview and Front End styles.
	Version: 1.2.2
	Text Domain: fhtc
*/
/** All block partials should match the block name **/
.angled-image-split-right {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 2rem auto 12rem; }
  @media (min-width: 768px) {
    .angled-image-split-right {
      margin: 5rem auto; } }
  .angled-image-split-right .angled-info-box {
    display: block;
    max-width: 20rem;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -9rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 61, 165, 0.95);
    padding: 2.5rem 1rem 1.5rem;
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    z-index: 3; }
    @media (min-width: 768px) {
      .angled-image-split-right .angled-info-box {
        top: 50%;
        left: unset;
        bottom: unset;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 35.75rem;
        width: 100%;
        padding: 7.375rem 10rem 8.375rem 2.625rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        z-index: 2; } }
    .angled-image-split-right .angled-info-box h2 {
      margin: 0 auto; }
    .angled-image-split-right .angled-info-box p {
      color: #FFF;
      margin-bottom: 2.7rem; }
    .angled-image-split-right .angled-info-box blockquote {
      margin: 0;
      color: #FFF;
      font-weight: bold;
      font-size: 1.375rem;
      text-align: center; }
  @media (min-width: 768px) {
    .angled-image-split-right .padding-mod {
      padding: 6.375rem 10rem 6.375rem 3rem; } }
  .angled-image-split-right .padding-mod p {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center; }
  .angled-image-split-right .angled-image {
    display: block;
    max-height: 35rem;
    max-width: unset;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; }
    @media (min-width: 768px) {
      .angled-image-split-right .angled-image {
        left: unset;
        right: unset;
        margin-right: 0;
        margin-left: auto;
        max-width: 43.25rem;
        width: 100%;
        -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: 1; } }

.angled-image-split-left {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 2rem auto 14rem; }
  @media (min-width: 768px) {
    .angled-image-split-left {
      margin: 5rem auto; } }
  .angled-image-split-left .angled-info-box {
    display: block;
    max-width: 20rem;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -9rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 61, 165, 0.95);
    padding: 2.5rem 1rem 1.5rem;
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    z-index: 3; }
    @media (min-width: 768px) {
      .angled-image-split-left .angled-info-box {
        top: 50%;
        right: 0;
        left: unset;
        bottom: unset;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 35.75rem;
        width: 100%;
        padding: 7.375rem 2rem 8.375rem 7.625rem;
        -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: 2; } }
    .angled-image-split-left .angled-info-box h2 {
      margin: 0 auto; }
    .angled-image-split-left .angled-info-box p {
      margin-bottom: 2.7rem;
      color: #FFF; }
  @media (min-width: 768px) {
    .angled-image-split-left .padding-mod {
      padding: 6.375rem 10rem 6.375rem 3rem; } }
  .angled-image-split-left .padding-mod p {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center; }
  .angled-image-split-left .angled-image {
    display: block;
    max-height: 35rem;
    max-width: unset;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; }
    @media (min-width: 768px) {
      .angled-image-split-left .angled-image {
        left: unset;
        right: unset;
        margin-left: 0;
        margin-right: auto;
        max-width: 43.25rem;
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        z-index: 1; } }

.angled-list-split-right {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 7rem auto 12rem; }
  @media (min-width: 768px) {
    .angled-list-split-right {
      margin: 3rem auto 6.5rem; } }
  .angled-list-split-right .info-box {
    display: block;
    max-width: 20rem;
    width: 100%;
    position: relative;
    bottom: -6rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 61, 165, 0.95);
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    z-index: 3; }
    @media (min-width: 768px) {
      .angled-list-split-right .info-box {
        position: absolute;
        top: 50%;
        left: unset;
        bottom: unset;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 35.75rem;
        width: 100%;
        padding: 1.5rem 8.5rem 1.5rem 2.5rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        z-index: 2; } }
    .angled-list-split-right .info-box__item {
      margin: 2rem 0; }
      .angled-list-split-right .info-box__item h4 {
        margin: 0 auto; }
      .angled-list-split-right .info-box__item p {
        color: #FFF;
        margin: 0.5rem 0; }
  .angled-list-split-right .angled-image {
    display: block;
    max-height: 35rem;
    top: -6rem;
    max-width: unset;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; }
    @media (min-width: 768px) {
      .angled-list-split-right .angled-image {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        margin-right: 0;
        margin-left: auto;
        max-width: 39rem;
        width: 100%;
        z-index: 1; } }

.angled-list-split-left {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 5rem auto 3rem; }
  @media (min-width: 768px) {
    .angled-list-split-left {
      margin: 3rem auto 6.5rem; } }
  .angled-list-split-left .info-box {
    display: block;
    max-width: 20rem;
    width: 100%;
    position: relative;
    left: 50%;
    top: -4rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 61, 165, 0.95);
    padding: 2.5rem 1rem 1.5rem;
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    z-index: 3; }
    @media (min-width: 768px) {
      .angled-list-split-left .info-box {
        position: absolute;
        top: 50%;
        right: 0;
        left: unset;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 35.75rem;
        width: 100%;
        padding: 1.5rem 2.5rem 1.5rem 8.5rem;
        -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: 2; } }
    .angled-list-split-left .info-box__item {
      margin: 2rem 0; }
      .angled-list-split-left .info-box__item h4 {
        margin: 0 auto; }
      .angled-list-split-left .info-box__item p {
        color: #FFF;
        margin: 0.5rem 0; }
  .angled-list-split-left .angled-image {
    display: block;
    max-width: unset;
    max-height: 35rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; }
    @media (min-width: 768px) {
      .angled-list-split-left .angled-image {
        left: unset;
        right: unset;
        margin-left: 0;
        margin-right: auto;
        max-width: 39rem;
        width: 100%;
        z-index: 1; } }
  .angled-list-split-left .width-mod {
    max-width: unset; }
    @media (min-width: 768px) {
      .angled-list-split-left .width-mod {
        max-width: 31rem; } }

.file-grid {
  display: -ms-grid;
  display: grid;
  max-width: 45rem;
  margin: 5rem auto 5rem;
  grid-template-columns: repeat(auto-fill, 13.5rem);
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .file-grid {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; } }
  .file-grid__grid-item {
    border: 1px solid #C1CDE0; }
    .file-grid__grid-item .top, .file-grid__grid-item .bottom {
      display: inline-block; }
    .file-grid__grid-item .top {
      width: 100%;
      font-size: 0.875rem;
      color: #003DA5;
      font-weight: bold;
      background-color: #E8F0FF;
      padding: 0.8rem 1rem 0;
      min-height: 5rem; }
      @media (min-width: 768px) {
        .file-grid__grid-item .top {
          min-height: 8rem; } }
    .file-grid__grid-item .bottom {
      padding: 0.25rem 0; }
      .file-grid__grid-item .bottom a {
        display: inline-block;
        padding: 0.2rem 1rem; }

.standard-dropdown-container {
  max-width: 45rem;
  margin: 0 auto; }
  .standard-dropdown-container .dropdown-block-title {
    position: relative;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .standard-dropdown-container .dropdown-block-title {
        font-size: 2rem; } }
    .standard-dropdown-container .dropdown-block-title:hover {
      cursor: pointer; }
    .standard-dropdown-container .dropdown-block-title:after {
      content: '\f078';
      position: absolute;
      font-size: 16px;
      top: 0.2rem;
      right: 0;
      font-family: FontAwesome;
      -webkit-transition: 0.3s ease-in;
      transition: 0.3s ease-in; }
      @media (min-width: 600px) {
        .standard-dropdown-container .dropdown-block-title:after {
          top: 1.5rem;
          font-size: 22px; } }
  .standard-dropdown-container .chevron-rotate:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
  .standard-dropdown-container .set-border {
    border-bottom: 1px solid #C1CDE0; }
  .standard-dropdown-container .dropdown-content {
    border-bottom: 1px solid #C1CDE0; }

.split-cards {
  max-width: 100%;
  margin: 0 auto;
  position: relative; }
  .split-cards img {
    display: block;
    max-width: 25.5rem;
    width: 100%;
    margin-left: 0; }
  .split-cards .split-overlay {
    display: block;
    max-width: 25.5rem;
    width: 100%;
    background-color: rgba(0, 61, 165, 0.95);
    padding: 1.25rem 2rem; }
    @media (min-width: 480px) {
      .split-cards .split-overlay {
        width: 24.25rem;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); } }
    .split-cards .split-overlay h2 {
      margin: 0; }
    .split-cards .split-overlay p {
      color: #FFF; }

.action-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 480px) {
    .action-cards-container {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media (min-width: 700px) {
    .action-cards-container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .action-cards-container .card-block {
    max-width: 13.8rem; }
    .action-cards-container .card-block img {
      display: block; }
    .action-cards-container .card-block .info-section {
      max-width: 12.5rem;
      margin: -1.5rem auto 1.5rem;
      background-color: rgba(0, 61, 165, 0.95);
      padding: 1.6rem 1rem 0.6rem;
      position: relative;
      z-index: 5; }
      .action-cards-container .card-block .info-section h4 {
        margin: 0; }
      .action-cards-container .card-block .info-section p {
        min-height: 6rem;
        color: #FFF; }

.award-grid-block {
  max-width: 45rem;
  margin: 1.5rem auto; }
  .award-grid-block--grid {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(13.8rem, 13.8rem));
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    row-gap: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .award-grid-block__inner img {
    display: block; }
  .award-grid-block__inner span {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #003DA5; }
  .award-grid-block__inner h4 {
    margin-top: 0.5rem !important; }
  .award-grid-block__inner .small-print {
    font-size: 0.625rem;
    margin: 0.2rem 0; }

/*# sourceMappingURL=block-style.css.map */