{#
  * Block Name: Angled Image Split Left (Image Left)
  * This is the template that displays an info box on the left and an image on the right, where the info box overlays onto the image, both with angled inner edges.
#}

<div id="{{ block.id }}" class="angled-image-split-left">
	<img class="angled-image" src="{{ TimberImage( fields.angled_image_left ).src }}" alt="{{ TimberImage( fields.angled_image_left ).alt }}" />
	<div class="angled-info-box">
		<h2 class="h2-heading--w">{{ fields.info_title_left }}</h2>
		<p>{{ fields.info_summary_left }}</p>
		<a class="default-button--w" href="{{ fields.button_link_left }}">{{ fields.button_text_left }}</a>
	</div>
</div>