{#
  * Block Name: Angled List Split Right (Image Right)
  * This block displays and info panel (list style) on the left and an image on the right.
  * Panel overlays onto image.
#}

<div id="{{ block.id }}" class="angled-list-split-right">
	<div class="info-box">
		{% for lir in fields.list_items_right %}
		<div class="info-box__item">
			<h4 class="h4-heading--w">{{ lir.item_header_right }}</h4>
			<p>{{ lir.item_summary_right }}</p>
			<a class="learn-more--o" href="{{ lir.button_link_right }}">{{ lir.button_text_right }}</a>
		</div>
		{% endfor %}
	</div>
	<img class="angled-image" src="{{ TimberImage( fields.image_right ).src }}" alt="{{ TimberImage( fields.image_right ).alt }}" />
</div>