{#
  * Block Name: Angled Image Split Right (Image Right)
  * This is the template that displays an info box on the left and an image on the right, where the info box overlays onto the image, both with angled inner edges.
#}

<div id="{{ block.id }}" class="angled-image-split-right">
	<div class="angled-info-box">
		<h2 class="h2-heading--w">{{ fields.info_title }}</h2>
		<p>{{ fields.info_summary }}</p>
		<a class="default-button--w" href="{{ fields.button_link }}">{{ fields.button_text }}</a>
	</div>
	<img class="angled-image" src="{{ TimberImage( fields.angled_image ).src }}" alt="{{ TimberImage( fields.angled_image ).alt }}" />
</div>