{#
  * Block Name: Angled List Split Left (Image Left)
  * This block displays and info panel (list style) on the right and an image on the left.
  * Panel overlays onto image.
#}

<div id="{{ block.id }}" class="angled-list-split-left">
	<img class="angled-image" src="{{ TimberImage( fields.image_left ).src }}" alt="{{ TimberImage( fields.image_left ).alt }}" />
	<div class="info-box">
		{% for li in fields.list_items_left %}
		<div class="info-box__item">
			<h4 class="h4-heading--w">{{ li.item_header_left }}</h4>
			<p>{{ li.item_summary_left }}</p>
			<a class="learn-more--o" href="{{ li.button_link_left }}">{{ li.button_text_left }}</a>
		</div>
		{% endfor %}
	</div>
</div>