{#
  * Block Name: Award Grid
  * Displays a 3 column grid with endless rows. (Made for Awards - Use regular 3 Col Grid for generic       container)
#}

<div id="{{ block.id }}" class="award-grid-block">
	<div class="award-grid-block--grid">
		{% for item in fields.awards_grid %}
			<div class="award-grid-block__inner">
				<img src="{{ TimberImage( item.winner_image ).src }}" alt="{{ TimberImage( item.winner_image ).alt }}" />
				<span>{{ item.award_year }}</span>
				<h4>{{ item.winner_name }}</h4>
				<p class="small-print">{{ item.program_studied }}</p>
				<p class="small-print">{{ item.graduating_year }}</p>
			</div>
		{% endfor %}
	</div>
</div>