{#
  * Block Name: Foundation Call To Action Cards
  * Displays files in a 3 columns, endless grid. Option to add Info Links or PDFs (or both).
#}

<div class="file-grid">
	{% for file in fields.file_grid_block %}
		<div class="file-grid__grid-item">
			<span class="top">{{ file.file_name }}</span>
			{% if file.link_not_pdf %}
				<span class="bottom"><a class="learn-more--b" href="{{ file.link_url }}" target="_blank">View Link</a></span>
			{% else %}
				<span class="bottom"><a class="learn-more--b" href="{{ file.pdf_upload.url }}" target="_blank">View Document</a></span>
			{% endif %}
		</div>
	{% endfor %}
</div>