{#
  * Block Name: Foundation Call To Action Cards
  * Displays up to 3 call to action cards with an image and info panel overlay
#}

<div id="{{ block.id }}" class="action-cards-container">
	{% for cta_card in fields.cta_cards %}
		<div class="card-block">
			<img src="{{ TimberImage(cta_card.cta_image).src }}" alt="{{ TimberImage(cta_card.cta_image).alt }}" />
			<div class="info-section">
				<h4>{{ cta_card.cta_title }}</h4>
				<p>{{ cta_card.cta_info }}</p>
				<a class="learn-more" href="{{ cta_card.cta_page_link }}">{{ cta_card.cta_link_text }}</a>
			</div>
		</div>
	{% endfor %}
</div>