{#
  * Block Name: Foundation Split Cards
  * This is the block that displays an image on the left and an info box on the right, where the info box overlays onto the image. Square Style.
#}

{% for card in fields.split_cards %}
	<div id="{{ block.id }}" class="interior-block set-width-43">
		<div class="split-cards">
			<img src="{{ TimberImage( card.left_image ).src }}" alt="{{ TimberImage( card.left_image ).alt }}" />
			<div class="split-overlay">
				<h2 class="h2-heading--w">{{ card.right_header }}</h2>
				<p>{{ card.right_paragraph }}</p>
				<a class="default-button--w" href="{{ card.right_button_link }}">{{ card.right_button_text }}</a>
			</div>
		</div>
	</div>
{% endfor %}