{#
  * Block Name: Student Testimonial
  * This is the template that displays an info box on the left and an image on the right, where the info box overlays onto the image, both with angled inner edges.
#}

<div id="{{ block.id }}" class="angled-image-split-right">
	<div class="angled-info-box padding-mod">
		<blockquote>{{ fields.stu_testimonial }}</blockquote>
		<p>{{ fields.stu_name }}</p>
	</div>
	<img class="angled-image" src="{{ TimberImage( fields.stu_image ).src }}" alt="{{ TimberImage( fields.stu_image ).alt }}" />
</div>