{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="set-width-43 not-found">
		<h1>404: Page Not Found</h1>
		<p>To go back use your browsers back button or return <a href="/">Home</a></p>
	</div>
</section>
{% endblock %}