{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">

	<div class="angled-image-split-right">
		<div class="angled-info-box">
			<h2 class="h2-heading--w">{{ post.info_title }}</h2>
			<p>{{ post.info_summary }}</p>
			<a class="default-button--w" href="{{ post.button_link }}">{{ post.button_text }}</a>
		</div>
		<img class="angled-image" src="{{ TimberImage( post.angled_image ).src }}" alt="{{ TimberImage( post.angled_image ).alt }}" />
	</div>

	<div class="angled-image-split-left">
		<img class="angled-image" src="{{ TimberImage( post.angled_image_left ).src }}" alt="{{ TimberImage( post.angled_image_left ).alt }}" />
		<div class="angled-info-box">
			<h2 class="h2-heading--w">{{ post.info_title_left }}</h2>
			<p>{{ post.info_summary_left }}</p>
			<a class="default-button--w" href="{{ post.button_link_left }}">{{ post.button_text_left }}</a>
		</div>
	</div>

	<div class="calendar-grid-wrapper set-width-44">
		<h2>Enrollment Events</h2>
		<a class="read-more" href="/events/">See All Events</a>
		<div class="calendar-grid">
			{# calls up to 3 #enrollment events #}
			{{ function('load_calendar_data') }}
		</div>
	</div>

	<h2 class="admissions-headers">Paying For Your Education</h2>
	<div class="angled-list-split-right">
		<div class="info-box">
			{% for lir in post.get_field('list_items_right') %}
				<div class="info-box__item">
					<h4 class="h4-heading--w">{{ lir.item_header_right }}</h4>
					<p>{{ lir.item_summary_right }}</p>
					<a class="learn-more--o" href="{{ lir.button_link_right }}">{{ lir.button_text_right }}</a>
				</div>
			{% endfor %}
		</div>
		<img class="angled-image" src="{{ TimberImage( post.image_right ).src }}" alt="{{ TimberImage( post.image_right ).alt }}" />
	</div>

	<h2 class="admissions-headers">High School, Transfer and Online Opportunities</h2>
	<div class="angled-list-split-left">
		<img class="angled-image width-mod" src="{{ TimberImage( post.image_left ).src }}" alt="{{ TimberImage( post.image_left ).alt }}" />
		<div class="info-box">
			{% for lil in post.get_field('list_items_left') %}
				<div class="info-box__item">
					<h4 class="h4-heading--w">{{ lil.item_header_left }}</h4>
					<p>{{ lil.item_summary_left }}</p>
					<a class="learn-more--o" href="{{ lil.button_link_left }}">{{ lil.button_text_left }}</a>
				</div>
			{% endfor %}
		</div>
	</div>

</section>
{% endblock %}