{% extends 'base.twig' %}

{# header in [base.twig] #}
{% block content %}
<div class="global-page-wrapper">

	<div id="top-search-container" class="top-search set-width-43 search-bar" style="justify-content: flex-start;">
		<button class="toggle-search"><span class="fa fa-search"></span> Filter &amp; Search</button>
		<div class="search-bar-content">
			<select id="category-select-field" class="category-select" style="">
				<option value="All Programs" default>All Programs</option>
				{% for program_type in program_types %}
					<option id="category-term" value="{{ program_type.name|split(' ')|join('') }}">{{ program_type.name }}</option>
				{% endfor %}
			</select>

			<select name="program-formats" id="program-formats" class="category-select">
				<option value="">All Formats</option>
				<option value="aas">Associates Degree</option>
				<option value="techcert">Technical Certificate</option>
				<option value="healthcert">Healthcare Certificate</option>
			</select>

			<button id="all-programs-filter-reset" class="reset">Reset</button>
		</div>
	</div>

	<div class="programs-container">
		{% for program in programs %}
			{% set aas = program.offers_associates_degree ? 'data-aas="true"' %}
			{% set tech = program.offers_technical_cert ? 'data-techcert="true"' %}
			{% set healthcert = program.offers_health_cert ? 'data-healthcert="true"' %}
			<a href="{{ program.link }}" {{ aas }} {{ tech }} {{ healthcert }} class="program-card {{ program.terms('program-type')|join(' ')|split(' ')|join('') }} ">

				{% if program.program_card_image %}
					<img src="{{ TimberImage( program.program_card_image ).src }}" alt="{{ TimberImage( program.program_card_image ).alt }}" />
				{% else %}
					<img src="{{ theme.link }}/static/images/placeholder.jpg" alt="A placeholder image" />
				{% endif %}

				<div class="program-card__title-box">
					<h6>{{ program.program_name }}</h6>
				</div>
			</a>
		{% endfor %}

	</div>
</div>
<script src="{{ theme.link }}/static/js/programs-search-dist.js"></script>
{% endblock %}