{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">
	{#  $context['get_url'] = $_SERVER['REQUEST_URI']  #}
	{% include 'navigation.twig' %}

	{% if global_alert %}
		<div class="alert-container" data-alert-id="{{ global_alert.expiration }}">
			<div class="alert-banner">
				<span class="alert-banner__title">{{ global_alert.title }}</span>
				<span class="alert-banner__message">{{ global_alert.body }}</span>
				<span aria-role="button" class="alert-banner__close"><span>&times;</span></span>
			</div>
		</div>
	{% endif %}

	{% if is_front_page %}
		{# home page header is a full-page slider #}
		<header class="home-header-wrapper">
			{% block homeheader %}
			{% endblock %}
		</header>
	{% elseif function('is_page_template', 'no-hero-page.php') %}
		{# no header image template is used #}
		{% block header %}
			{# use this to add a different header if desired #}
		{% endblock %}
	{% elseif '/foundation/' not in get_url %}
		{# default header for all pages #}
		{% include 'header.twig' %}
	{% else %}
		{# default header for foundation pages only #}
		{% include 'foundation/foundation-header.twig' %}
	{% endif %}

	{# content-wrapper is in [_globals.scss] #}
	<div class="content-wrapper">
		{% block content %}
			{% block searchresults %}
			{% endblock %}
		{% endblock %}

		{% block abovefooter %}
			{# for special callouts just before the footer #}
		{% endblock %}

		{% include 'footer.twig' %}
	</div>

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>