{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="interior-block-default">

		{{ post.content }}

		<div class="board-meetings-wrapper">
			<table>
				<thead>
					<tr>
						<td>Date</td>
						<td>Agenda</td>
						<td>Minutes</td>
					</tr>
				</thead>
				<tbody>
					{% for meeting in post.get_field('board_meetings') %}
						<tr>
							<td>{{ meeting.meeting_date }}</td>
							<td>
								{% if meeting.board_agenda.url %}
									<a class="fa fa-paperclip" href="{{ meeting.board_agenda.url }}" target="_blank"></a>
								{% endif %}
							</td>
							<td>
								{% if meeting.board_minutes.url %}
									<a class="fa fa-paperclip" href="{{ meeting.board_minutes.url }}" target="_blank"></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}