{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="course-list-container set-width-43" id="courses" v-cloak>
		<course-schedules inline-template>
			<div>
				<div class="search-bar">
					<button class="toggle-search"><span class="fa fa-search"></span> Filter &amp; Search</button>
					<div class="search-bar-content">
						<select v-if="terms" v-model="filters.term" id="filter-terms">
							<option value="">Show All Terms</option>
							<option v-for="term in terms" v-html="term.title"></option>
						</select>
						<select v-if="courseFormats" v-model="filters.courseFormat" id="filter-formats">
							<option value="">Choose Format</option>
							<option v-for="format in courseFormats" v-html="format"></option>
						</select>
						<input id="course-search" type="text" class="search" placeholder="Search Courses" v-model="filters.keyword" />
						<button class="reset-course-schedules-search reset" type="button" @click.prevent="resetFilters">Reset All</button>
					</div>
				</div><!-- /search bar -->

				<div class="courses">
					<div v-for="course in filteredCourses" class="grouped-course">
						<div class="course-item" :class="{'visible': course.toggleOpen}">
							<button class="course-accordion-toggle" @click="toggleOpenCourse(course)"><span aria-hidden class="fa fa-chevron-down"></span><span class="sr-only">Toggle Content</span></button>
							
							<div class="description">
								<h4 class="title" @click="toggleOpenCourse(course)">${ course.sections[0].ARC } ${ course.sections[0].CourseTitle }</h4>
								<h5>${ course.sections[0].CreditHrs } Credit Hours</h5>
								<p class="course-description" v-if="course.toggleOpen">${ course.sections[0].CourseDesc }</p>
							</div>

							<div v-for="(section, i) in course.sections" v-if="course.toggleOpen" style="margin-bottom: 1rem" :class="{'full': section.full}">
								<div class="section-table">
									<span class="course-section">Section: ${ section.CrsSec }</span><br/>
									<span class="course-format-text">Course Format: 
										<span class="course-format">
											${section.courseFormat}
										</span>
									</span>
									<span class="course-seats">Seats Available: ${ section.seatsLeft }/${ section.CrsCapacity }</span>
								</div>

								<div class="table-format-grid">
									<div class="grid-head">
										<span>Type</span>
										<span>Location</span>
										<span>Dates</span>
										<span>Time</span>
										<span>Meeting Days</span>
										<span>Instructor</span>
									</div>
									
									<div v-for="schedule in getSchedules(section)" class="grid-body">
										<span v-if="schedule.Online === 'Y'">
											Online
										</span>
										<span v-else>
											In-Person
										</span>
										<span>${ schedule.Building } ${ schedule.Room }</span>
										<span>${ formatDate(schedule.SchedBeginDte) } - ${ formatDate(schedule.SchedEndDte) }</span>
										<span>
											<span v-if="schedule.Online == 'N'">
												${ formatTime(schedule.SchedBeginTime) } - ${ formatTime(schedule.SchedEndTime) }
											</span>
										</span>
										<span>
											<span v-if="schedule.M">M</span>
											<span v-if="schedule.T">T</span>
											<span v-if="schedule.W">W</span>
											<span v-if="schedule.R">R</span>
											<span v-if="schedule.F">F</span>
											<span v-if="schedule.S">S</span>
											<span v-if="schedule.U">U</span>
										</span>
										<span>${ schedule.InstructorName }</span>
									</div>

									<section v-for="schedule in getSchedules(section)" class="mobile-grid-body">
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Type</span>
											<span class="mobile-grid-row--content">
												<span v-if="schedule.Online === 'Y'">
													Online
												</span>
												<span v-else>
													In-Person
												</span>
											</span>
										</div>
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Location</span>
											<span class="mobile-grid-row--content">${ schedule.Building } ${ schedule.Room }</span>
										</div>
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Dates</span>
											<span class="mobile-grid-row--content">${ formatDate(schedule.SchedBeginDte) } - ${ formatDate(schedule.SchedEndDte) }</span>
										</div>
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Times</span>
											<span class="mobile-grid-row--content">
												<span v-if="schedule.Online == 'N'">
													${ formatTime(schedule.SchedBeginTime) } - ${ formatTime(schedule.SchedEndTime) }
												</span>
											</span>
										</div>
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Meeting Days</span>
											<span class="mobile-grid-row--content">
												<span v-if="schedule.M">M</span>
												<span v-if="schedule.T">T</span>
												<span v-if="schedule.W">W</span>
												<span v-if="schedule.R">R</span>
												<span v-if="schedule.F">F</span>
												<span v-if="schedule.S">S</span>
												<span v-if="schedule.U">U</span>
											</span>
										</div>
										<div class="mobile-grid-row">
											<span class="mobile-grid-row--heading">Instructor</span>
											<span class="mobile-grid-row--content">${ schedule.InstructorName }</span>
										</div>
									</section>

								</div>

								
							</div> {# /.course-item #}
						</div>
					</div>
				</div>
			</div>
		</course-schedules>
	</div> {# /#courses #}

</section>

{% endblock %}

{% block abovefooter %}
	<script type="text/javascript">
		var globalCourses = {{ imports|json_encode }};
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
	<script src="{{ theme.link }}/static/js/course-search-dist.js"></script>
{% endblock %}