{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="interior-block-default add-width">
        <div class="search-bar">
            <button class="toggle-search"><span class="fa fa-search"></span> Filter &amp; Search</button>
            <div class="search-bar-content">
                <select name="departments" id="employee-departments">
					<option value="">Filter by Department</option>
					{% set count = 1 %}
					{% for department in departments %}
						{% if count == 1 %}
							{# first item is empty - ignore it #}
						{% else %}
							<option value="{{ department }}">{{ department }}</option>
						{% endif %}
						{% set count = count + 1 %}
                    {% endfor %}
                </select>
                <input type="text" id="employee-search" placeholder="Search by Name">
                <button class="employee-directory-reset reset">Reset</button>
            </div>
        </div>

		{# These Employees only used for search. wrappers too restrictive #}
		<div class="search-all-employees">
			{% for employee in all_employees %}
			<div class="employee-wrapper desktop" data-letter="{{ employee.emp_last_name|slice(0,1) }}" data-department="{{ employee.employee_filter_name }}">
				<div class="program-instructor-block">
					{% if employee.emp_image %}
					<img src="{{ TimberImage(employee.emp_image).src }}" alt="{{ employee.emp_image.alt }}" />
					{% else %}
					<img src="{{ theme.link }}/static/images/employee-placeholder.jpg" alt="{{ employee.emp_image.alt }}" />
					{% endif %}
					<div class="instructor-info">
						<div style="min-height: 7rem;">
							<h5 class="employee-name">{{ employee.title }}</h5>
							<p class="emp-title">{{ employee.emp_title }}</p>
							<p class="dept-name">{{ employee.emp_department }}</p>
						</div>

						<div class="info-dropdown">
							{% if employee.emp_phone %}
								<a class="plain-link" href="tel:{{ employee.emp_phone }}">{{ employee.emp_phone }}</a><br/>
							{% endif %}

							{% if employee.emp_email %}
								<a id="email-lightbox" class="plain-link" href="#" data-employee-id="{{ employee.ID }}">Send Email</a><br/>
							{% endif %}

							{% if employee.emp_bio %}
								<p class="bio">{{ employee.emp_bio }}</p>
							{% endif %}
						</div>
						<button class="dropdown-toggle">More Information</button>
					</div>
				</div>
			</div>
			<div class="employee-wrapper mobile" data-letter="{{ employee.emp_last_name|slice(0,1) }}" data-department="{{ employee.employee_filter_name }}">
				<div class="mobile-instructor-wrapper">
					<button class="mobile-dropdown-toggle add-border">
						<span class="h5-heading shorten-title">{{ employee.title }}</span><br/>
						<span class="member-title">{{ employee.emp_title }}</span><br/>
						{% if employee.emp_department %}
							<span class="dept-name">{{ employee.emp_department }}</span>
						{% endif %}
					</button>

					<div class="mobile-instructor-block">
						{% if employee.emp_image %}
							<img src="{{ TimberImage(employee.emp_image).src }}" alt="{{ employee.emp_image.alt }}" /> </br/>
						{% else %}
							<img src="{{ theme.link }}/static/images/employee-placeholder.jpg" alt="{{ employee.emp_image.alt }}" /> </br/>
						{% endif %}

						{% if employee.emp_phone %}
							<a class="plain-link" href="tel:{{ employee.emp_phone }}">{{ employee.emp_phone }}</a><br/>
						{% endif %}

						{% if employee.emp_email %}
							<a id="email-lightbox" class="plain-link" href="#">Send Email</a><br/>
						{% endif %}

						{% if employee.emp_bio %}
							<p class="bio">{{ employee.emp_bio }}</p>
						{% endif %}
					</div> {# /.mobile-instructor-block #}
				</div> {# /.mobile-instructor-wrapper #}
			</div> {# employee-wrapper #}
			{% endfor %}
		</div>

        <div class="interior-block employee-directory-wrapper">
			{% for letter, emps in employees %}
				<div class="letter h4-heading">{{ letter }}</div>
				<div class="employee-letter-wrapper">
					{% for employee in emps %}
					<div class="employee-wrapper" data-letter="{{ employee.emp_last_name|slice(0,1) }}" data-department="{{ employee.employee_filter_name }}">
						<div class="program-instructor-block">
							{% if employee.emp_image %}
							<img src="{{ TimberImage(employee.emp_image).src }}" alt="{{ employee.emp_image.alt }}" />
							{% else %}
							<img src="{{ theme.link }}/static/images/employee-placeholder.jpg" alt="{{ employee.emp_image.alt }}" />
							{% endif %}
							<div class="instructor-info">
								<div style="min-height: 7rem;">
									<h5 class="employee-name">{{ employee.title }}</h5>
									<p class="emp-title">{{ employee.emp_title }}</p>
									<p class="dept-name">{{ employee.emp_department }}</p>
								</div>

								<div class="info-dropdown">
									{% if employee.emp_phone %}
										<a class="plain-link" href="tel:{{ employee.emp_phone }}">{{ employee.emp_phone }}</a><br/>
									{% endif %}

									{% if employee.emp_email %}
										<a id="email-lightbox" class="plain-link" href="#" data-employee-id="{{ employee.ID }}">Send Email</a><br/>
									{% endif %}

									{% if employee.emp_bio %}
										<p class="bio">{{ employee.emp_bio }}</p>
									{% endif %}
								</div>
								<button class="dropdown-toggle">More Information</button>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>

		{# mobile instructor styles #}
		<div class="interior-block hide-emps-desktop">
			{% for letter, emps in employees %}
				<div class="letter h4-heading hide-desktop">{{ letter }}</div>
				<div class="employee-letter-wrapper">
					{% for employee in emps %}
						<div class="employee-wrapper" data-letter="{{ employee.emp_last_name|slice(0,1) }}" data-department="{{ employee.employee_filter_name }}">

							<div class="mobile-instructor-wrapper">
								<button class="mobile-dropdown-toggle add-border">
									<span class="h5-heading shorten-title">{{ employee.title }}</span><br/>
									<span class="member-title">{{ employee.emp_title }}</span><br/>
									{% if employee.emp_department %}
										<span class="dept-name">{{ employee.emp_department }}</span>
									{% endif %}
								</button>

								<div class="mobile-instructor-block">
									{% if employee.emp_image %}
										<img src="{{ TimberImage(employee.emp_image).src }}" alt="{{ employee.emp_image.alt }}" /> </br/>
									{% else %}
										<img src="{{ theme.link }}/static/images/employee-placeholder.jpg" alt="{{ employee.emp_image.alt }}" /> </br/>
									{% endif %}

									{% if employee.emp_phone %}
										<a class="plain-link" href="tel:{{ employee.emp_phone }}">{{ employee.emp_phone }}</a><br/>
									{% endif %}

									{% if employee.emp_email %}
										<a id="email-lightbox" class="plain-link" href="#" data-employee-id="{{ employee.ID }}">Send Email</a><br/>
									{% endif %}

									{% if employee.emp_bio %}
										<p class="bio">{{ employee.emp_bio }}</p>
									{% endif %}
								</div> {# /.mobile-instructor-block #}
							</div> {# /.mobile-instructor-wrapper #}
						</div> {# employee-wrapper #}
					{% endfor %}
				</div>
			{% endfor %}
		</div> {# /.interior-block && /.hide-emps-desktop #}
	</div> {# /.interior-block-default #}
</section>
{% endblock %}