{% extends 'base.twig' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="global-page-wrapper">
	<div class="interior-block-default set-width-43">

		{# <h2>Featured Events</h2>
		<div class="event-cards">
			category based sorting for "featured events" Uses GColors from Events Calendar
		</div> #}

		<h2>All Events</h2>
		{{ function('load_calendar_data') }}
	</div>
</div>
{% endblock %}

{% block abovefooter %}
{% endblock %}