{# Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99009454-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-99009454-1');
</script>

{# Hotjar Tracking Code #}
<script>
(function(h,o,t,j,a,r){
h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
h._hjSettings={hjid:1705629,hjsv:6};
a=o.getElementsByTagName('head')[0];
r=o.createElement('script');r.async=1;
r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
a.appendChild(r);
})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{# Sifi Pixel #}
<script async src='https://tag.simpli.fi/sifitag/25fd1170-0df1-0136-e674-06659b33d47c'></script>