{% block footer %}
{% set gmaps_url = "https://www.google.com/maps/place/Flint+Hills+Technical+College/@38.4184964,-96.2243514,414m/data=!3m1!1e3!4m5!3m4!1s0x87b94dee5ff7840b:0x4173e7d4e1fa68cd!8m2!3d38.4190823!4d-96.2240338" %}

<footer class="footer-container">
	<div class="footer-content">

		{% if '/foundation/' not in get_url %}
			<img class="wrangler-image" src="{{ theme.link }}/static/images/wrangler-background.png" alt="FHTC Wrangler Mascot" />
		{% else %}
			<img class="foundation-image" src="{{ theme.link }}/static/images/foundation-brand.png" alt="Flint Hills Technical College Foundation Seal" />
		{% endif %}

		<div class="content-top">
			<img src="{{ theme.link }}/static/images/fhtc-brand.png" alt="Flint Hills Technical College Brand" />
			{# mobile top section #}

			<div class="content-top-mobile">
				<p>Flint Hills Technical College</p>

				{% if '/foundation/' not in get_url %}
					<address>
						<span>Main Campus</span>
						<a href="{{ gmaps_url }}" target="_blank">3301 West 18th Avenue<br/>
						Emporia, KS 66801</a>
						<a class="add-space" href="tel:{{ options.phone_one }}">{{ options.phone_one }}</a>
						<a href="tel:{{ options.phone_two }}">{{ options.phone_two }}</a>
						<span class="fax-num">Fax:{{ options.fax_number }}</span>
						<a class="add-space" href="mailto:askus@fhtc.edu">AskUs@fhtc.edu</a>
					</address>
				{% endif %}
			</div>

			<div class="content-top__social-icons">
				{% if '/foundation/' not in get_url %}
					<a href="https://www.facebook.com/FlintHillsTechnicalCollege" target="_blank" rel="noopener noreferrer">
						<span>{% include '/static/icons/facebook.svg' %}</span>
					</a>
				{% else %}
					<a href="https://www.facebook.com/fhtcfoundationalumni" target="_blank" rel="noopener noreferrer">
						<span>{% include '/static/icons/facebook.svg' %}</span>
					</a>
				{% endif %}

				<a href="https://twitter.com/flinthillstech" target="_blank" rel="noopener noreferrer">
					<span>{% include '/static/icons/twitter.svg' %}</span>
				</a>

				<a href="https://www.instagram.com/flinthillstech/" target="_blank" rel="noopener noreferrer">
					<span>{% include '/static/icons/instagram.svg' %}</span>
				</a>

				<a href="https://www.youtube.com/channel/UCbOTW63Bucz9JA-aGT-mdFg?view_as=subscriber" target="_blank" rel="noopener noreferrer">
					<span>{% include '/static/icons/youtube.svg' %}</span>
				</a>

				<a href="https://www.linkedin.com/school/flint-hills-technical-college/" target="_blank" rel="noopener noreferrer">
					<span>{% include '/static/icons/linkedin.svg' %}</span>
				</a>
			</div>
		</div>

		<div class="content-middle">
			{% if '/foundation/' not in get_url %}
				<div class="content-middle__address">
					<h6>Main Campus</h6>
					<address>
						<a href="{{ gmaps_url }}" target="_blank">3301 West 18th Avenue<br/>
						Emporia, KS 66801</a>
						<a class="add-space" href="tel:{{ options.phone_one }}">{{ options.phone_one }}</a>
						<a href="tel:{{ options.phone_two }}">{{ options.phone_two }}</a>
						<span class="fax-num">Fax:{{ options.fax_number }}</span>
						<a class="add-space" href="mailto:askus@fhtc.edu">AskUs@fhtc.edu</a>
					</address>
				</div>

				<div class="content-middle__menu">
					<h6>Campus Information</h6>
					{{ function('fhtc_render_footer_menu_one') }}
				</div>

				<div class="content-middle__menu">
					<h6>Statements & Disclosures</h6>
					{{ function('fhtc_render_footer_menu_two') }}
				</div>

				<div class="content-middle__hlc">
					<iframe scrolling="no" allowtransparency="true" src="https://cdn.yoshki.com/iframe/54732.html" style="display:block; width:150px; height:165px; border:0; margin:0 auto; padding:0; background-color:transparent;" frameborder="0"></iframe>

					<a href="https://ksdegreestats.org" target="_blank">
						<img src="{{ theme.link }}/static/images/kd-stats-logo.png" alt="Kansas Degree Stats Logo">
					</a>
				</div>
			{% else %}
				<div class="content-middle__foundation">
					<h6>Reeble Alumni Center and Flint Hills Technical College Foundation</h6>
					<address>
						<a href="{{ gmaps_url }}" target="_blank">3301 West 18th Avenue<br/>
						Emporia, KS 66801</a>
						<a class="add-space" href="tel:{{ options.foundation_phone }}">{{ options.foundation_phone }}</a>
					</address>
				</div>
			{% endif %}
		</div>

		<div class="content-bottom">
			{% if '/foundation/' not in get_url %}
				<a class="degree-stats-link" href="https://ksdegreestats.org" target="_blank" rel="noopener noreferrer">
					<img src="{{ theme.link }}/static/images/kd-stats-logo.png" alt="Kansas Degree Stats Logo">
				</a>

				<iframe scrolling="no" allowtransparency="true" src="https://cdn.yoshki.com/iframe/54732.html" style="width:150px; height:165px; border:0; padding:0; background-color:transparent; margin-top: 1rem; margin-bottom: 1rem;" frameborder="0"></iframe>
			{% endif %}
			<p>{{ options.nd_statement }}</p>

			<div class="content-bottom__copyright">
				<p>Copyright &copy; 2019-2020 - Flint Hills Technical College - All Rights Reserved</p>
				{% if '/foundation/' in get_url %}
					<a href="">Site Policies &amp; Disclosures</a>
				{% endif %}
				<a href="https://weare502.com" target="_blank">
					Design &amp; Development by
					<img src="{{ theme.link }}/static/icons/502-logo.png" alt="502 - A strategic marketing agency" />
				</a>
			</div>
		</div>
	</div>
</footer>
{% endblock %}