{% extends 'base.twig' %}

{% block homeheader %}
{% set slide_count = 1 %}
{% set slider_content = post.get_field('slider_content') %}
<div class="slide-container">
	<div class="slider">
		{% for slide in slider_content %}
			<div class="slider--item"
				{% if not slide.add_background_video %}
					style="background-image: linear-gradient(to right, #898989, #fff),
					url('{{ TimberImage(slide.slide_image).src }}');">
				{% else %}
					> {# closing div tag if not an image #}
					<video id="video-slide" autoplay loop muted>
						<source src="{{ slide.slide_video }}"> {# media upload url #}
					</video>
				{% endif %}
				<div class="home-blue-trapezoid-overlay"></div>
				<div class="home-header-overlay-text">
					<h1 class="h1-heading--w">{{ slide.slide_header }}</h1>
					{% if slide.sub_header_text %}
						<p>{{ slide.sub_header_text }}</p>
					{% endif %}

					{% if slide_count == 1 %}
						<a class="play-video home-video-button">{% include '/static/icons/play-button.svg' %}</a>
						{# Trigger for video modal #}
					{% endif %}

					{% if slide.slide_button_text %}
						<a class="default-button--w" href="{{ slide.slide_button_url }}">{{ slide.slide_button_text }}</a>
					{% endif %}
				</div>
			</div>
			{% set slide_count = slide_count + 1 %}
		{% endfor %}
	</div> {# /.[slider] #}
</div>

<div class="slider-progress-container">
	{% set count = 1 %}
	{% for slide in slider_content %}
		<div class="slider-progress-content">
			<p>{{ slide.slide_name }}</p>
			<div class="progress-bar-handle">
				<div class="progress-bar-{{ count }}" role="progressbar"></div>
			</div>
		</div>
		{% set count = count + 1 %}
	{% endfor %}
</div>

<div id="mobile-home-header" class="large-header-wrapper">
	<div class="image-container" style="background-image: linear-gradient(to right, #898989, #fff),
	url('{{ post.thumbnail.src }}');">
		<div class="blue-trapezoid-overlay"></div>
		<div class="header-overlay-text">
			<h1 class="h1-heading--w">{{ post.mobile_home_header }}</h1>
			<p class="mobile-header-subtext">{{ post.mobile_home_subtext }}</p>
			<a class="play-video home-video-button">{% include '/static/icons/play-button.svg' %}</a>
		</div>
	</div>
</div>

{# video modal - must NOT be in slider or will break #}
<div class="video-modal" style="display: none;">
	<div class="modal-container">
		<button class="home-video-close">
			Close
			<span class="sr-only">Close Video</span>
		</button><br/><br/>
		<iframe id="ytplayer" class="yt_player_iframe" src="https://www.youtube.com/embed/2gFfge7MF6s?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<h2 class="start-future-title">Start Your Future</h2>

	{# "Start Your Future" section - styles in [_front-page.scss] #}
	{% include 'future-picker.twig' %}

	{# resources banner #}
	{% if options.toggle_banner %}
		<div class="covid-resources">
			<h2>{{ options.banner_text }}</h2>
			<a class="default-button--w" href="{{ options.button_link }}">{{ options.button_text }}</a>
		</div>
	{% endif %}

	{# in [scss/blocks] #}
	<div class="angled-image-split-right">
		<div class="angled-info-box">
			<h2 class="h2-heading--w">{{ post.info_title }}</h2>
			<p>{{ post.info_summary }}</p>
			<a class="default-button--w" href="{{ post.button_link }}">{{ post.button_text }}</a>
		</div>
		<img class="angled-image" src="{{ TimberImage( post.angled_image ).src }}" alt="{{ TimberImage( post.angled_image ).alt }}" />
	</div>

	<div class="video-testimonial">
		<video id="testimonial-video" controls poster="{{ TimberImage(post.vid_placeholder_image).src }}">
			<source src="{{ post.student_video }}">
		</video>

		<div id="testimonial-overlay" class="testimonial-info">
			<h2 class="h2-heading--w">{{ post.testimonial_title }}</h2>
			{% if post.testimonial_button_text %}
				<p class="button-below">{{ post.testimonial_transcript }}</p>
				<a class="learn-more--o" href="{{ post.testimonial_button_link }}">{{ post.testimonial_button_text }}</a>
			{% else %}
				<p>{{ post.testimonial_transcript }}</p>
			{% endif %}
		</div>
	</div>

	<div class="metrics-block">
		{% set count = 1 %}
		{% for metric in post.get_field('metric_blocks') %}
			{% if count == 2 %}
				<span class="grey-bar"></span>
				<div class="metrics-block--inner">
					<h2>{{ metric.metric_value }}</h2>
					<p>{{ metric.metric_information }}</p>
				</div>
				<span class="grey-bar"></span>
			{% else %}
				<div class="metrics-block--inner">
					<h2>{{ metric.metric_value }}</h2>
					<p>{{ metric.metric_information }}</p>
				</div>
			{% endif %}
			{% set count = count + 1 %}
		{% endfor %}
	</div>

	{# load called from functions.php - loads [events-calendar.php] #}
	<div class="calendar-grid-wrapper set-width-44">
		<h2>Upcoming Events</h2>
		<a class="read-more" href="/events/">See All Events</a>
		<div class="calendar-grid">
			{# calls up to 3 #featured events #}
			{{ function('load_calendar_data') }}
		</div>
	</div>

</section>
{% endblock %}

{% block abovefooter %}
{% endblock %}