{#
	The mobile card logic is at the bottom of this file.
	Only 1 card is returned. Relationships for all options/returns is 1:1
#}

{# acf option vars #}
{% set option1 = post.get_field('option_values_one') %}
{% set option2 = post.get_field('option_values_two') %}
{% set option3 = post.get_field('option_values_three') %}

<div class="adventure-selection">
	<select id="picker-one" class="option-picker">
		<option value="" default>I'm a...</option>
		{% set count = 1 %}
		{% for op_value_one in option1 %}
			<option class="op1-val-{{ count }} dark-text" value="{{ op_value_one.value }}">{{ op_value_one.value }}</option>
			{% set count = count + 1 %}
		{% endfor %}
	</select>

	<select id="picker-two" class="option-picker">
		<option value="" default>I'm interested in...</option>
		{% set count = 1 %}
		{% for op_value_two in option2 %}
			<option class="op2-val-{{ count }} dark-text" value="{{ op_value_two.value }}">{{ op_value_two.value }}</option>
			{% set count = count + 1 %}
		{% endfor %}
	</select>

	<select id="picker-three" class="option-picker">
		<option value="" default>I want to...</option>
		{% set count = 1 %}
		{% for op_value_three in option3 %}
			<option class="op3-val-{{ count }} dark-text" value="{{ op_value_three.value }}">{{ op_value_three.value }}</option>
			{% set count = count + 1 %}
		{% endfor %}
	</select>

	<button id="go-button" class="go-submit-button">Go</button>
</div>

{# acf return vars #}
{% set return1 = post.get_field('return_values_one') %}
{% set return2 = post.get_field('return_values_two') %}
{% set return3 = post.get_field('return_values_three') %}

<div class="adventure-results">
	{# return vals 1 #}
	{% set count = 1 %}
	{% for return_value_one in return1 %}

		{% if return_value_one.show_on_mobile_one == 'Yes' %}
			<div class="ret1-val-{{ count }} results-card">
		{% else %}
			<div class="ret1-val-{{ count }} results-card" style="display: none;">
		{% endif %}

			<img src="{{ TimberImage( return_value_one.image ).src }}" alt="{{ TimberImage( return_value_one.image ).alt }}" />
			<div class="results-card__blue-panel">
				<span class="panel-title">{{ return_value_one.title }}</span>
				<p>{{ return_value_one.short_description }}</p>
				<a class="learn-more--w" href="{{ return_value_one.link_url }}">Learn More</a>
			</div>
		</div>
		{% set count = count + 1 %}
	{% endfor %}

	{# return vals 2 #}
	{% set count = 1 %}
	{% for return_value_two in return2 %}

		{% if return_value_two.show_on_mobile_two == 'Yes' %}
			<div class="ret2-val-{{ count }} results-card">
		{% else %}
			<div class="ret2-val-{{ count }} results-card" style="display: none;">
		{% endif %}

			<img src="{{ TimberImage( return_value_two.image ).src }}" alt="{{ TimberImage( return_value_two.image ).alt }}" />
			<div class="results-card__blue-panel">
				<span class="panel-title">{{ return_value_two.title }}</span>
				<p>{{ return_value_two.short_description }}</p>
				<a class="learn-more--w" href="{{ return_value_two.link_url }}">Learn More</a>
			</div>
		</div>
		{% set count = count + 1 %}
	{% endfor %}

	{# return vals 3 #}
	{% set count = 1 %}
	{% for return_value_three in return3 %}

		{% if return_value_three.show_on_mobile_three == 'Yes' %}
			<div class="ret3-val-{{ count }} results-card">
		{% else %}
			<div class="ret3-val-{{ count }} results-card" style="display: none;">
		{% endif %}

			<img src="{{ TimberImage( return_value_three.image ).src }}" alt="{{ TimberImage( return_value_three.image ).alt }}" />
			<div class="results-card__blue-panel">
				<span class="panel-title">{{ return_value_three.title }}</span>
				<p>{{ return_value_three.short_description }}</p>
				<a class="learn-more--w" href="{{ return_value_three.link_url }}">Learn More</a>
			</div>
		</div>
		{% set count = count + 1 %}
	{% endfor %}
</div>