{% for aim in program_type_data %}
	{% if aim.Aim.Type == 'GENED' %}
		<h2 style="padding-top: 2rem;">General Education Courses</h2>

		{% for root in aim.AimRoot %}
			{% if root.Arc.Type == 'ROOT' %} {# get ROOT data #}
				{% for root_gened in root.AimLvl1Data %}
					{% if root_gened.Arc.Type == 'GROUP' %} {# get all GROUPS inside ROOT #}
						<div class="course-block-parent first-block" style="margin-bottom: 0; margin-top: 3rem;">
							<div class="course-type-head">
								<h4>{{ root_gened.Arc.Description }}</h4>
								<h6>Credits</h6>
							</div>
						</div>

						{% for gened_course in root_gened.AimLvl2Data %}
							{% if gened_course.Arc.Type == 'CRS' %} {# The are courses within a Group -  GROUP => [CRS, CRS, CRS] #}
								<div class="course-block">
									<div>
										{% if gened_course.Arc.SectionsAvailable == 'N' %}
											<span class="course-link first-link">{{ gened_course.Arc.ArcCode }}</span>
											{% if gened_course.Arc.CourseTitle != "" %}
												<span class="plain-link">{{ gened_course.Arc.CourseTitle }}</span>
											{% else %}
												<span class="plain-link">{{ gened_course.Arc.Description }}</span>
											{% endif %}
										{% else %}
											<a class="course-link first-link" href="/course/{{ gened_course.Arc.ArcCode }}">{{ gened_course.Arc.ArcCode }}</a>
											{% if gened_course.Arc.CourseTitle != "" %}
												<a class="plain-link" href="/course/{{ gened_course.Arc.ArcCode }}">{{ gened_course.Arc.CourseTitle }}</a>
											{% else %}
												<a class="plain-link" href="/course/{{ gened_course.Arc.ArcCode }}">{{ gened_course.Arc.Description }}</a>
											{% endif %}
										{% endif %}
									</div>
									<span>{{ gened_course.Arc.MinHours }}</span>
								</div>
							{% endif %} {# CRS / G  Type and TypeCode check #}
						{% endfor %} {# AimLvl2Data #}
						<p>Choose at least {{ root_gened.Arc.MinHours }} credit hours in {{ root_gened.Arc.Description }}</p>

					{# These courses are not GROUP types #}
					{% elseif root_gened.Arc.Type == 'CRS' %}
						<div class="course-block-parent first-block" style="margin-bottom: 0; margin-top: 3rem;">
							<div class="course-type-head">
								<h4>{{ root_gened.Arc.CourseTitle }}</h4>
								<h6>Credits</h6>
							</div>
						</div>

						<div class="course-block">
							<div>
								{% if root_gened.Arc.SectionsAvailable == 'N' %}
									<span class="course-link first-link">{{ root_gened.Arc.ArcCode }}</span>
									{% if root_gened.Arc.CourseTitle != "" %}
										<span class="plain-link">{{ root_gened.Arc.CourseTitle }}</span>
									{% else %}
										<span class="plain-link">{{ root_gened.Arc.Description }}</span>
									{% endif %}
								{% else %}
									<a class="course-link first-link" href="/course/{{ root_gened.Arc.ArcCode }}">{{ root_gened.Arc.ArcCode }}</a>
									{% if root_gened.Arc.CourseTitle != "" %}
										<a class="plain-link" href="/course/{{ root_gened.Arc.ArcCode }}">{{ root_gened.Arc.CourseTitle }}</a>
									{% else %}
										<a class="plain-link" href="/course/{{ root_gened.Arc.ArcCode }}">{{ root_gened.Arc.Description }}</a>
									{% endif %}
								{% endif %}
							</div>
							<span>{{ root_gened.Arc.MinHours }}</span>
						</div>
						<p>Choose at least {{ root_gened.Arc.MinHours }} credit hours in {{ root_gened.Arc.CourseTitle }}</p>
					{% endif %} {# CRS Type Check #}

				{% endfor %} {# AimLvl1Data #}
			{% endif %} {# ROOT Type Check #}

		{% endfor %} {# AimRoot #}
    {% endif %} {# GENED Aim Type Check #}
{% endfor %}