<header class="large-header-wrapper">
	<div class="image-container"
	
	{% if post.thumbnail.src %}
		style="background-image: linear-gradient(to right, #898989, #fff), url('{{ post.thumbnail.src }}');">
	{% else %}
		style="background-image: linear-gradient(to right, #898989, #fff), url('{{ theme.link }}/static/images/fhtc-default-header.jpg');">
	{% endif %}
		<div class="blue-trapezoid-overlay"></div>
		<div class="header-overlay-text">
			{% if '/AAS/' in get_url %}
				<span class="course-req-header">Associate of Applied Science Degree Course Requirements</span>
				<h1 class="h1-heading--w" style="margin-top: 0.5rem;">{{ post.title }}</h1>
			{% elseif '/TCER/' in get_url %}
				<span class="course-req-header">Technical Certificate Course Requirements</span>
				<h1 class="h1-heading--w" style="margin-top: 0.5rem;">{{ post.title }}</h1>
			{% elseif '/CERT/' in get_url %}
				<span class="course-req-header">Health Certificate Course Requirements</span>
				<h1 class="h1-heading--w" style="margin-top: 0.5rem;">{{ post.title }}</h1>
			{% else %} {# not a course-req page #}
				<h1 class="h1-heading--w">{{ post.title }}</h1>
			{% endif %}
		</div>
	</div>
</header>