{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container">

		{% if '/foundation/' not in get_url %}
			<a class="logo" href="/">
				<img src="{{ theme.link }}/static/images/fhtc-logo.jpg" alt="Flint Hills Technical College" />
			</a>
		{% else %}
			<a class="logo" href="/foundation/">
				<img src="{{ theme.link }}/static/images/fhtc-logo.jpg" alt="Flint Hills Technical College" />
				<div class="foundation-tag"><p>Foundation</p></div>
			</a>
		{% endif %}

		<nav class="nav-menu" role="navigation">
			<div id="menu-toggle">
				<span class="x-bar"></span>
				<span class="x-bar"></span>
				<span class="x-bar"></span>
			</div>

			<a class="mobile-logo" href="/">
				<img src="{{ theme.link }}/static/images/fhtc-logo.jpg">
			</a>

			{% if '/foundation/' not in get_url %}
				<div class="navbar-button">
					<a href="{{ options.fhtc_mobile_button_url }}">{{ options.fhtc_mobile_button_text }}</a>
				</div>

				{{ function('fhtc_render_primary_menu') }}
			{% else %}
				<div class="navbar-button">
					<a href="{{ options.foundation_mobile_button_url }}">{{ options.foundation_mobile_button_text }}</a>
				</div>

				{{ function('fhtc_foundation_primary_menu') }}
			{% endif %}
		</nav>
	</div>
</div>
{% endblock %}

{# https://my.fhtc.edu/ICS/Giving/Give_to_FHTC.jnz?portlet=EX_FormFlow_-_Forms&screen=FormView&form=9ced8271-5dd9-4270-a809-bdb32ea0e557 #}