{% extends 'base.twig' %}

{% block header %}
	{# no hero -  [global-page-wrapper] handles spacing above/below page content #}
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="interior-block-default">
		<h1 style="margin-bottom: 4rem;">{{ post.title }}</h1>
		{{ post.content }}
	</div>
</section>
{% endblock %}