{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="interior-block-default">
		{{ post.content }}

		{# {% if children %}
			<aside class="child-menu">
				<h5>Related Content</h5>
				<div class="child-menu__links">
					{% for child in children %}
						<a href="{{ child.link }}">{{ child.title }}</a>
						<span>&middot;</span>
					{% endfor %}
				</div>
			</aside>
		{% endif %} #}
	</div>

	{% if function('is_page', 4036) %}
		<div class="calendar-grid-wrapper set-width-44">
			<h2>Current Student Activities</h2>
			<a class="read-more" href="/events/">See All Events</a>
			<div class="calendar-grid">
				{# calls up to 3 #studentlife events #}
				{{ function('load_calendar_data') }}
			</div>
		</div>

	{% elseif function('is_page', 156) %}
		<div class="calendar-grid-wrapper set-width-44">
			<h2>Community Events</h2>
			<a class="read-more" href="/events/">See All Events</a>
			<div class="calendar-grid">
				{# calls up to 3 #community events #}
				{{ function('load_calendar_data') }}
			</div>
		</div>

	{% elseif function('is_page', 94) %}
		<div class="calendar-grid-wrapper set-width-44">
			<h2>Enrollment Events</h2>
			<a class="read-more" href="/events/">See All Events</a>
			<div class="calendar-grid">
				{# calls up to 3 #enrollment events #}
				{{ function('load_calendar_data') }}
			</div>
		</div>
	{% endif %}

</section>
{% endblock %}