{% for aim in program_type_data %}
	{% if aim.Aim.Type == 'PREQ' %}
		<h2>Program Prerequisite Courses</h2>
		<div class="course-type-head">
			<h4>Prerequisite Courses</h4>
			<h6>Credits</h6>
		</div>

		{% set preqTotalHours = 0 %}
		{% for preq_root_data in aim.AimRoot %}
			{% for preq_course in preq_root_data.AimLvl1Data %}
				<div class="course-block">
					<div>
						{% if preq_course.Arc.SectionsAvailable == 'N' %}
							<span class="course-link first-link">{{ preq_course.Arc.ArcCode }}</span>
							{% if preq_course.Arc.CourseTitle != "" %}
								<span class="plain-link">{{ preq_course.Arc.CourseTitle }}</span>
							{% else %}
								<span class="plain-link">{{ preq_course.Arc.Description }}</span>
							{% endif %}
						{% else %}
							<a class="course-link first-link" href="/course/{{ preq_course.Arc.ArcCode }}">{{ preq_course.Arc.ArcCode }}</a>
							{% if preq_course.Arc.CourseTitle != "" %}
								<a class="plain-link" href="/course/{{ preq_course.Arc.ArcCode }}">{{ preq_course.Arc.CourseTitle }}</a>
							{% else %}
								<a class="plain-link" href="/course/{{ preq_course.Arc.ArcCode }}">{{ preq_course.Arc.Description }}</a>
							{% endif %}
						{% endif %}
					</div>
					<span>{{ preq_course.Arc.MinHours }}</span>
				</div>
				{% set preqTotalHours = preqTotalHours + preq_course.Arc.MinHours %}
			{% endfor %}
		{% endfor %}

		<div class="hours-block">
			<p>Total Prerequisite Credits</p>
			<span>{{ preqTotalHours }}</span>
		</div>

	{% endif %}
{% endfor %}