{% extends 'base.twig' %}

{% set apply_link = 'https://my.fhtc.edu/ICS/Admissions/Admissions_Homepage.jnz?portlet=EX_FormFlow_-_Forms&screen=FormView&screenType=change&form=821c41f5-48c0-485c-86aa-d9e57a7d4021' %}
{% set req_info_link = 'https://my.fhtc.edu/ICS/Admissions/Admissions_Homepage.jnz?portlet=Request_Information&screen=FormView&screenType=change&form=fcd90997-db73-42c9-86c9-ca8e4802ecf7' %}

{% block content %}
<div class="global-page-wrapper">
	<div class="set-width-43" style="margin: 3rem auto;">
		{% include 'program-prereqs.twig' with program_type_data %}

		<h2>Program Courses</h2>
		{% include 'program-courses.twig' with program_type_data %}
		{% include 'gened.twig' with program_type_data %}

		<div class="center-buttons">
			<a class="large-button first-button" href="{{ apply_link }}" target="_blank">Apply Now</a>
			<a class="large-button" href="{{ req_info_link }}" target="_blank">Request Information</a>
		</div>
	</div>
</div>
{% endblock %}