{# Pulls Core ROOT level courses from AimData #}
{% for aim in program_type_data %}
	{% if aim.Aim.Type == 'PROG' %}

		{% set totalHours = 0 %}
		{% set innerTotalHours = 0 %}
		{% set hoursCount = 0 %}
		
		{% for root in aim.AimRoot %}
			{% if root.Arc.Type == 'ROOT' %} {# get ROOT courses #}
				{% for root_course in root.AimLvl1Data %}
					{% if root_course.Arc.Type == 'CRS' %} {# get CRS Course Types (for top level courses only) #}
						<div class="course-block">
							<div>
								{% if root_course.Arc.SectionsAvailable == 'N' %}
									<span class="course-link first-link">{{ root_course.Arc.ArcCode }}</span>
									{% if root_course.Arc.CourseTitle != "" %}
										<span class="plain-link">{{ root_course.Arc.CourseTitle }}</span>
									{% else %}
										<span class="plain-link">{{ root_course.Arc.Description }}</span>
									{% endif %}
								{% else %}
									<a class="course-link first-link" href="/course/{{ root_course.Arc.ArcCode }}">{{ root_course.Arc.ArcCode }}</a>
									{% if root_course.Arc.CourseTitle != "" %}
										<a class="plain-link" href="/course/{{ root_course.Arc.ArcCode }}">{{ root_course.Arc.CourseTitle }}</a>
									{% else %}
										<a class="plain-link" href="/course/{{ root_course.Arc.ArcCode }}">{{ root_course.Arc.Description }}</a>
									{% endif %}
								{% endif %}
							</div>
							<span>{{ root_course.Arc.MinHours }}</span>
						</div>
					{% endif %}
					{% set totalHours = totalHours + root_course.Arc.MinHours %}
				{% endfor %}

				{% if hoursCount == 0 %}
					<div class="hours-block">
						<p>Total Technical Education Credits</p>
						<span>{{ totalHours }}</span>
					</div>
				{% endif %}

				{# Needs to be separate or it will mix groups into the main course list - we want these separated #}
				{% for root_course in root.AimLvl1Data %}
					{# we get all the Top level courses above - now we look for groups in that same list #}
					{% if root_course.Arc.Type == 'GROUP' %} {# get GROUP course types #}
						<h4 style="margin-top: 3rem; margin-bottom: 0;">{{ root_course.Arc.Description }}</h5>
						{% for group_course in root_course.AimLvl2Data %}
							{% if group_course.Arc.TypeCode != 'G' %} {# this prevents "double" listings of the GROUP type as a course instead of heading #}
								<div class="course-block">
									<div>
										{% if group_course.Arc.SectionsAvailable == 'N' %}
											<span class="course-link first-link">{{ group_course.Arc.ArcCode }}</span>
											{% if group_course.Arc.CourseTitle != "" %}
												<span class="plain-link">{{ group_course.Arc.CourseTitle }}</span>
											{% else %}
												<span class="plain-link">{{ group_course.Arc.Description }}</span>
											{% endif %}
										{% else %}
											<a class="course-link first-link" href="/course/{{ group_course.Arc.ArcCode }}">{{ group_course.Arc.ArcCode }}</a>
											{% if group_course.Arc.CourseTitle != "" %}
												<a class="plain-link" href="/course/{{ group_course.Arc.ArcCode }}">{{ group_course.Arc.CourseTitle }}</a>
											{% else %}
												<a class="plain-link" href="/course/{{ group_course.Arc.ArcCode }}">{{ group_course.Arc.Description }}</a>
											{% endif %}
										{% endif %}
									</div>
									<span>{{ group_course.Arc.MinHours }}</span>
								</div>

							{% else %}
							<h5 style="margin-top: 3rem; margin-bottom: 0.5rem;">{{ group_course.Arc.Description }}</h5>
								{# TypeCode == G   list out Grouped courses #}
								{% for inner_course in group_course.AimLvl3Data %}
									<div class="course-block">
										<div>
											{% if inner_course.Arc.SectionsAvailable == 'N' %}
												<span class="course-link first-link">{{ inner_course.Arc.ArcCode }}</span>
												{% if inner_course.Arc.CourseTitle != "" %}
													<span class="plain-link">{{ inner_course.Arc.CourseTitle }}</span>
												{% else %}
													<span class="plain-link">{{ inner_course.Arc.Description }}</span>
												{% endif %}
											{% else %}
												<a class="course-link first-link" href="/course/{{ inner_course.Arc.ArcCode }}">{{ inner_course.Arc.ArcCode }}</a>
												{% if inner_course.Arc.CourseTitle != "" %}
													<a class="plain-link" href="/course/{{ inner_course.Arc.ArcCode }}">{{ inner_course.Arc.CourseTitle }}</a>
												{% else %}
													<a class="plain-link" href="/course/{{ inner_course.Arc.ArcCode }}">{{ inner_course.Arc.Description }}</a>
												{% endif %}
											{% endif %}
										</div>
										<span>{{ inner_course.Arc.MinHours }}</span>
									</div>
								{% endfor %} {# AimLvl3Data #}
							{% endif %} {# TypeCode check ('G' or 'C') #}

						{% endfor %} {# AimLvl2Data #}
					{% endif %} {# check for GROUP - builds courses (CRS) within groups (GROUP) #}

				{% endfor %} {# AimLvl1Data #}
			{% endif %} {# check for ROOT #}

		{% set hoursCount = hoursCount + 1 %} {# only display TEC required hours once #}
		{% endfor %}

	{% endif %}
{% endfor %}