{% extends 'base.twig' %}

{% block searchresults %}
<div class="global-page-wrapper">
	<h2>Search Results</h2>
	<p>You searched for: <strong>{{ get_query_string }}</strong></p>
	<p style="border-bottom: 1px solid black; padding-bottom: 0.5rem;">Results found: <strong>{{ results_count }}</strong></p>
	<div class="interior-block-default set-width-43" style="margin: 2rem auto 3.5rem 0;">
		{{ paginate }}
	</div>

	{% for post in posts %}
		<div class="interior-block-default set-width-43" style="margin: 3.5rem auto 3.5rem 0;">
			<a href="{{ post.link }}"><h4>{{ post.title }}</h4></a>
			<p>{{ post.preview.length(20) }}</p>
		</div>
	{% endfor %}
</div>
	{{ cleanup }}
{% endblock %}