{% extends 'base.twig' %}

{% block header %}
{% endblock %}

{% block content %}
<section class="course-wrapper" style="max-width: 75rem; margin: 0 auto; padding: 1.5rem;">
	<div class="course-list-container set-width-43">
	<h1>{{ post.title }}</h1>

	{% set top_section = terms|first|first %}
	<div class="description" style="display: block !important;">
		<h4 class="title" style="margin: 0.5rem 0;">{{ top_section.ARC }} {{ top_section.CourseTitle }}</h4>
		<h5 style="margin: 0.5rem 0;">{{ top_section.CreditHrs }} Credit Hours</h5>
		<p class="description" style="display: block;">{{ top_section.CourseDesc }}</p>
	</div>

	<div class="list" id="courses">
		{% for term, sections in terms %}

			<h2 style="margin-bottom: 0.5rem;"> {{ term }} Term</h2>

			{% for section in sections %}
				{% set full = (section.CrsEnrolled == section.CrsCapacity) ? 'full' : '' %}
				<div class="course-item {{ section.AC_Term ~ section.AC_Year }} {{ full }}" data-year="{{ section.AC_Year }}" data-term="{{ section.AC_Term }}" data-arc="{{ section.ARC }}" style="display: block;">

					<div class="section-table">
						<span class="course-section">Section: {{ section.CrsSec }}</span><br/>
						<span class="course-format-text">Course Format: 
							<span class="course-format">
								{% if section.GenEdCourse == 'Y' %}
									General Education
								{% elseif section.ConEdCourse == 'Y' %}
									Continuing Education
								{% elseif section.EveningCourse == 'Y' %}
									Evening
								{% elseif section.WeekendCourse == 'Y' %}
									Weekend
								{% elseif section.HybridCourse == 'Y' %}
									Hybrid
								{% elseif section.OnlineCourse == 'Y' %}
									Online
								{% else %}
									On-Campus
								{% endif %}
							</span>
						</span>

						{% set seatsLeft = section.CrsCapacity - section.CrsEnrolled %}
						<span class="course-seats">Seats Available: {{ seatsLeft }}/{{ section.CrsCapacity }}</span>
					</div>

					<div class="table-format-grid">
						<div class="grid-head">
							<span>Type</span>
							<span>Location</span>
							<span>Dates</span>
							<span>Time</span>
							<span>Meeting Days</span>
							<span>Instructor</span>
						</div>

						{% for schedule in section.Schedules %}
							{% set schedule = schedule.Schedule %}
						<div class="grid-body">
							<span>
								{% if schedule.Online == 'Y' %}
									Online
								{% else %}
									In-Person
								{% endif %}
							</span>
							<span>{{ schedule.Building }} {{ schedule.Room }}</span>
							<span>{{ schedule.SchedBeginDte|date('m/d/y') }} - {{ schedule.SchedEndDte|date('m/d/y') }}</span>
							<span>
								{% if schedule.Online == 'N' %}
									{{ schedule.SchedBeginTime|date('g:i A') }} - {{ schedule.SchedEndTime|date('g:i A') }}
								{% endif %}
							</span>
							<span>
								{% if schedule.M %} M {% endif %}
								{% if schedule.T %} T {% endif %}
								{% if schedule.W %} W {% endif %}
								{% if schedule.R %} R {% endif %}
								{% if schedule.F %} F {% endif %}
								{% if schedule.S %} S {% endif %}
								{% if schedule.U %} U {% endif %}
							</span>
							<span>{{ schedule.InstructorName }}</span>
						</div>

						<section class="mobile-grid-body">
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Type</span>
								<span class="mobile-grid-row--content">
									{% if schedule.Online == 'Y' %}
										Online
									{% else %}
										In-Person
									{% endif %}
								</span>
							</div>
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Location</span>
								<span class="mobile-grid-row--content">{{ schedule.Building }} {{ schedule.Room }}</span>
							</div>
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Dates</span>
								<span class="mobile-grid-row--content">{{ schedule.SchedBeginDte|date('m/d/y') }} - {{ schedule.SchedEndDte|date('m/d/y') }}</span>
							</div>
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Times</span>
								<span class="mobile-grid-row--content">
									{% if schedule.Online == 'N' %}
										{{ schedule.SchedBeginTime|date('g:i A') }} - {{ schedule.SchedEndTime|date('g:i A') }}
									{% endif %}
								</span>
							</div>
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Meeting Days</span>
								<span class="mobile-grid-row--content">
									{% if schedule.M %} M {% endif %}
									{% if schedule.T %} T {% endif %}
									{% if schedule.W %} W {% endif %}
									{% if schedule.R %} R {% endif %}
									{% if schedule.F %} F {% endif %}
									{% if schedule.S %} S {% endif %}
									{% if schedule.U %} U {% endif %}
								</span>
							</div>
							<div class="mobile-grid-row">
								<span class="mobile-grid-row--heading">Instructor</span>
								<span class="mobile-grid-row--content">{{ schedule.InstructorName }}</span>
							</div>
						</section>
						{% endfor %}
					</div>
				</div> {# /.course-item #}
			{% endfor %}
		{% endfor %}
	</div>
</div>
</section>
{% endblock %}