{% extends 'base.twig' %}

{% set apply_link = 'https://my.fhtc.edu/ICS/Admissions/Admissions_Homepage.jnz?portlet=EX_FormFlow_-_Forms&screen=FormView&screenType=change&form=821c41f5-48c0-485c-86aa-d9e57a7d4021' %}
{% set req_info_link = 'https://my.fhtc.edu/ICS/Admissions/Admissions_Homepage.jnz?portlet=Request_Information&screen=FormView&screenType=change&form=fcd90997-db73-42c9-86c9-ca8e4802ecf7' %}

{% block content %}
<div class="global-page-wrapper">
	<section class="main-program-container">
		<div class="interior-block">
			<p class="set-width-43">{{ post.intro_paragraph }}</p>
		</div>

		{% if post.stu_testimonial %}
			<div class="angled-image-split-right">
				<div class="angled-info-box padding-mod">
					<blockquote>{{ post.stu_testimonial }}</blockquote>
					<p>{{ post.stu_name }}</p>
				</div>
				<img class="angled-image" src="{{ TimberImage( post.stu_image ).src }}" alt="{{ TimberImage( post.stu_image ).alt }}" />
			</div>
		{% endif %}

		<div class="interior-block set-width-43">
			<h2>Program Options</h2>
			{{ post.get_field('degree_information') }}

			{% if post.get_field('offers_associates_degree') %}
				<a class="learn-more-alt" href="{{ post.link }}AAS">Associates Degree Course Requirements</a>
			{% endif %}

			{% if post.get_field('offers_technical_cert') %}
				<a class="learn-more-alt" href="{{ post.link }}TCER">Technical Certificate Course Requirements</a>
			{% endif %}

			{% if post.get_field('offers_health_cert')  %}
				<a class="learn-more-alt" href="{{ post.link }}CERT">Health Certificate Course Requirements</a>
			{% endif %}
		</div>

		{% if post.get_field('career_opportunities') %}
			<div class="interior-block set-width-43">
				<h2>Career Opportunities</h2>
				{{ post.get_field('career_opportunities') }}
			</div>
		{% endif %}

		{# check if an instructor is selected #}
		{% if post.get_field('employee_picker') %}
			<div class="interior-block" style="max-width: 44rem;">
				<h2>Program Faculty</h2>
				{{ function('insert_employee_post_object') }}
			</div>
		{% endif %}

		{% set partners = post.get_field('academic_partnerships') %}
		{% if partners %}
			<div class="interior-block set-width-43">
				<h2>Academic Partnership</h2>
				{% for partner in partners %}
					<span class="plain-link">{{ partner.partner_name }}</span>
					<p>{{ partner.partner_info }}</p>
				{% endfor %}
			</div>
		{% endif %}

		<div class="interior-block set-width-43">
			<h2>Program Information &amp; Resources</h2>
			{% if post.program_resources_paragraph_text %}
				<p style="padding-bottom: 1.5rem;">{{ post.program_resources_paragraph_text }}</p>
			{% endif %}

			<div class="file-grid" style="margin-top: 0.5rem;">
				{% for file in post.get_field('info_grid') %}
					<div class="file-grid__grid-item">
						<span class="top">{{ file.file_name }}</span>

						{% if file.link_not_pdf %}
							<span class="bottom"><a class="learn-more--b" href="{{ file.resources_link }}" target="_blank">View Link</a></span>
						{% else %}
							<span class="bottom"><a class="learn-more--b" href="{{ file.pdf_upload.url }}" target="_blank">View Document</a></span>
						{% endif %}

					</div>
				{% endfor %}
			</div>

			<div class="center-buttons">
				<a class="large-button first-button" href="{{ options.apply_button_url }}" target="_blank">Apply Now</a>
				<a class="large-button" href="{{ options.request_info_url }}" target="_blank">Request Information</a>
			</div>
		</div>

	</section>
</div>
{% endblock %}