// Alert styles
.alert-container {
	margin: 0 auto;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: $orange;
	z-index: 20; // above everything except mobile menu when opened

	@include bp(md) {
		top: 0;
		left: 14rem;
	}

	.alert-banner {
		padding: 0.75rem;
		display: flex;

		span {
			display: inline-block;
			margin-top: 0;
			padding-top: 0;
			color: $light-black;
			line-height: 1;
		}

		&__title {
			font-size: 1.25rem;
			margin-right: 2rem;
			font-weight: 700;
		}

		&__message {
			display: flex;
			flex: 1;
			font-size: 0.975rem;
			align-items: center;
		}

		&__close {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			background: $light-black;
			border-radius: 100%;
			width: 1.5rem;
			height: 1.5rem;
			line-height: 1;
			font-size: 1.2rem;
			font-weight: bold;
			font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			color: $white;
			&:hover { cursor: pointer; }

			span {
				font-size: 1.2rem;
				color: $orange;
			}
		}
	}
}