.programs-container {
	display: grid;
	max-width: 50rem;
	width: 100%;
	margin: 3.75rem auto;
	grid-template-columns: repeat(auto-fill, 13.75rem);
	column-gap: 1rem;
	row-gap: 1rem;
	justify-content: center;

	.program-card {
		position: relative;
		box-shadow: 0 5px 8px -5px rgba($black, 0.5);

		&:hover { .program-card__title-box {
			transition: 0.2s ease-out;
			background-color: rgba($orange, 0.95);
		} }

		img {
			min-height: 8.75rem;
			display: block; // removes whitespace below "inline" display type
		}

		&__title-box {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 1.75rem 1rem 0;
			min-height: 4.875rem;
			background-color: rgba($blue, 0.95);
			clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
			transition: 0.2s ease-out;

			h6 { color: $white; margin: 0; }
		}
	}
}

.page-template-all-programs {
	.search-bar {
		margin-top: 0rem;
		max-width: 43.125rem;

		.search-bar-content {
			width: 100%;
		}

		select {
			box-sizing: border-box;
			width: 100%;
			margin-right: 0;
		}

		@include bp(sm) {
			margin-top: 2rem;

			select {
				margin-right: 1rem;
			}

			#program-formats {
				margin-right: 0;
			}
		}

		#program-formats {
			margin-top: 1rem;
			@include bp(sm) { margin-top: 0; }
		}
	}
}