.board-meetings-wrapper {
	max-width: 45rem;
	margin: 3rem auto;

	table {
		border-collapse: collapse;
		td { font-family: $font-body; }

		thead tr {
			background-color: $grey-ten;
			font-weight: bold;
		}

		thead, tbody {
			tr td {
				font-size: 0.875rem;
				padding: 0.5rem 1rem;
				@include bp(xs) { padding: 0.5rem 2rem; }
				@include bp(sm) { padding: 0.5rem 4rem; }

				a {
					color: $dark-blue;
					&:hover { color: $blue; }
				}
			}

			tr:nth-child(even) {
				background-color: $grey-ten;
			}
		}
	}
}