// standard link style (no bold)
.learn-more {
	color: $blue;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: none;
	font-size: 0.875rem;
	font-family: $carbon;

	&:before {
		display: inline-block;
		content: '\f054'; // right chevron
		font-family: FontAwesome;
		font-size: 8px;
		color: $white;
		margin-right: 3px;
		margin-bottom: 2px; // makes vertical align go to middle
		vertical-align: middle;
	}

	&:hover {
		text-decoration: underline;
		transition: none;
	}

	// white
	&--w {
		@extend .learn-more;
		color: $white;
		font-weight: bold;

		&:hover {
			color: $orange;
			&:before { color: $orange; }
		}
	}

	// blue
	&--b {
		@extend .learn-more;
		font-weight: bold;
		&:before { color: $blue; }
	}

	// orange
	&--o {
		@extend .learn-more;
		color: $orange;
		font-weight: bold;
		&:before { color: $orange; }
	}
}

// wordpress read more button
.read-more {
	color: $blue;
	text-decoration: underline;
	font-size: 0.875rem;
	font-family: $font-body;

	&:hover {
		color: rgba($blue, 0.7);
		text-decoration: underline;
	}
}

// font & spacing changes
.learn-more-alt {
	@extend .learn-more;
	display: block;
	font-size: 0.875rem;
	font-family: $font-body;
	border-bottom: 1px solid $grey-five;
	padding: 0.25rem 0 0.6rem;
	margin: 0.3rem 0 0; // reduce click area bleeding
	text-transform: none;
	letter-spacing: normal;
	font-weight: bold;
	&:before { color: $blue; margin-right: 6px; }
}

.default-button, .wp-block-button__link {
	display: inline-block;
	max-width: 12rem;
	padding: 0.625rem 0.75rem;
	background-color: $blue;
	color: $white;
	box-shadow: $blue-shadow;
	font-size: 0.875rem;
	font-family: $carbon;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover { background-color: $dark-blue; }

	&--w {
		@extend .default-button;
		background-color: $white;
		color:$blue;
		
		&:hover {
			background-color: $dark-blue;
			color: $white;
		}
	}

	&--o {
		@extend .default-button;
		background-color: $orange;
		color: $white;
		
		&:hover {
			background-color: $white;
			color: $orange;
		}
	}
}

// WP built in block class mods
.wp-block-button__link {
	border-radius: 0; // for wp-button
	margin: 0 0 3rem;
}

.large-button {
	display: inline-block;
	max-width: 17rem;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	background-color: $orange;
	color: $light-black;

	@include bp(xs) {
		max-width: 20rem;
		font-size: 1.375rem;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	&:hover {
		color: $white;
		background-color: $dark-blue;
	}
}

// id on this button is for js use
.go-submit-button {
	width: 4.5rem;
	padding: 0.48rem;
	border: none;
	font-family: $carbon;
	font-size: 0.875rem;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	background-color: $blue;
	box-shadow: $blue-shadow;
	transition: 0.2s ease-out;
	cursor: pointer;

	&:hover {
		background-color: $dark-blue;
		transition: 0.2s ease-out;
	}
}

// Buttons with standard TRBL color-slide effects
.slide-button {
	display: inline-block;
	max-width: 8rem;
	padding: 0.5rem 1rem;
	border: 2px solid $font-color;
	color: $font-color;

	&--up, &--down, &--left, &--right {
		@extend .slide-button;
		&:hover { color: $white; }
	}

	&--up {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to top, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 100%;
			transition: background-position 0.3s;
		}
	}

	&--down {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 -100%;
			transition: background-position 0.3s;
		}
	}

	&--left {
		background-size: 200% 100%;
		background-image: linear-gradient(to left, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 100% 0;
			transition: background-position 0.3s;
		}
	}

	&--right {
		background-size: 200% 100%;
		background-image: linear-gradient(to right, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: -100% 0;
			transition: background-position 0.3s;
		}
	}
} // end .slide-button (parent)