// Main event list styles - Grid styles below this block
.event-list {
	max-width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $grey-one;

	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	&--left {
		display: inline-block;
		width: 15rem;
		margin-right: 2.5rem;
		padding: 0; 

		.h5-heading {
			color: $blue;
			margin: 0 0 1rem 0;
			font-size: 0.875rem;
		}

		// the heading above is applied to a span
		.mobile-event-title {
			color: $light-black;
			margin: 0;
			font-size: 0.875rem;
			font-weight: normal;
			@include bp(xs) { display: none; }
		}

		// event location and time layout
		.e-location, .e-time {
			span {
				display: inline-block;
				margin-right: 0.65rem;
				margin-bottom: 0;
				width: 4px;
				color: $orange;
				font-size: 0.9rem;
				font-family: FontAwesome;
			}

			p {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
				padding: 0.2rem 0 0;
				font-size: 0.7rem;
			}

			// realigns top text with bottom text (visually centered)
			.adjust-margin {
				margin-left: -2px;
				margin-bottom: 0.5rem;
			}
		}

		.e-location {
			margin-top: 1rem;
			p { max-width: 14rem; } // for long locations
		}

		.e-time {
			margin-top: 0.25rem;
		}

		.fa-map-marker {
			margin-left: 2px;
		}
	}

	&--right {
		display: inline-block;
		vertical-align: top;
		max-width: 25rem;
		padding: 0 2rem 0 0;
		@include bp(md) { padding: 0; }

		h5 {
			display: none;

			@include bp(xs) {
				display: block;
				max-width: 11rem;
				color: $light-black;
				margin: 0;
				font-size: 0.875rem;
				font-weight: normal;
			}

			@include bp(640px) { max-width: 100%; }
		}
	}
} // end .event-list

// Grid styles
.calendar-grid-wrapper {
	margin: 0 auto 5rem;

	h2 { margin-bottom: 0.8rem; }

	.read-more {
		text-decoration: none;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
			color: $blue;
		}
	}

	.calendar-grid {
		display: grid;
		max-width: 100%;
		margin: 1.5rem auto;
		grid-template-columns: repeat(auto-fill, 12.75rem);
		column-gap: 2.5rem;
		row-gap: 2.5rem;
		justify-content: center;
		@include bp(md) { justify-content: unset; }

		&__event {
			max-width: 12.75rem;
			background-color: $blue;
			padding: 1rem 0.75rem;

			time {
				font-family: $font-body;
				font-size: 0.875rem;
				color: $white;
			}

			h5 {
				margin-top: 0.25rem;
				margin-bottom: 1rem;
			}

			span {
				.middot {
					font-weight: bold;
					font-size: 0.9rem;
				}
			}

			// use the location block to push the time block down
			.push-down { margin-bottom: 0.5rem; }

			// FA and Time/Location colors / fonts
			.fa, .grid-location, .grid-time { color: $orange; }
			.grid-location, .grid-time { font-size: 0.625rem; }

			// margin-left centers the icon on the clock
			// margin-right aligns the text with the time below it
			.fa-map-marker { margin-left: 2px; margin-right: 4px; }
		}
	}
}