.search-bar {
	display: flex;
	max-width: 100%;
	width: 100%;
	margin: 3.75rem auto;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: 0 5px 8px -5px rgba($black, 0.5);

	@include bp(sm){
		box-shadow: none;
	}

	.toggle-search {
		width: 100%;
		background: none;
		color: $blue;
		padding: 1rem;
		border: none;
		font-family: $font-body;

		&:hover {
			cursor: pointer;
		}

		@include bp(sm){
			display: none;
		}

		* {
			display: initial !important;
		}
	}

	.search-bar-content {
		display: none;
		border-top: 1px solid $blue;
		padding-top: 1rem;

		@include bp(sm) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 43.125rem;
			width: 100%;
			border: none;
			padding-top: 0;
		}
	}

	&.open {
		.search-bar-content {
			display: block;
			margin: 0 auto;

			.search { margin-top: 1rem; }
		}
	}

	input, select {
		display: inline-block;
		position: relative;
		max-width: 100%;
		padding: 0.625rem;
		border: 1px solid $blue;
		-moz-appearance: none;
		-webkit-appearance: none;
		width: 100%;

		@include bp(sm){
			width: auto;
		}
	}

	button.reset {
		border: none;
		color: $grey-four;
		font-family: $font-body;
		background: none;
		display: block;
		padding: 1rem;
		
		&:hover {
			cursor: pointer;
		}

		@include bp(sm){
			display: inline-block;
		}
	}

	::placeholder {
		font-size: 0.625rem;
		font-family: $font-body, FontAwesome;
	}

	input {
		@include bp(sm){
			width: 10.6rem; 
			padding: 0.68rem 0.625rem 0.69rem;
		}
	}

	#filter-terms,
	#filter-formats {
		width: 11.5rem;
		font-family: $font-body;
		font-size: 0.625rem;
		cursor: pointer;

		option {
			font-size: 0.625rem;
			font-family: $font-body;
			color: $light-black;
		}

		@include mq($until: 768px) {
			width: 100%;
		}
	}

	#filter-formats {
		margin-top: 1rem;
		@include bp(sm) { margin-top: 0; }
	}

	#course-search {
		background: $white url('./static/icons/search-solid.svg') no-repeat;
		background-size: 10px 10px;
		background-position: right 10px bottom 50%;
	}
} // end .search-bar

.course-list-container {
	margin: 0 auto;


	// style courses list
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	// standalone styles **//
	.course-item {
		margin: 1.25rem 0;
	}

	// hide descriptions initally (data pulled resets each one to display once instead of for each one)
	.description {
		display: none;
	}

	.show-description .description {
		display: block;
		h4 { margin-bottom: 0; margin-top: 3.5rem; }
		h5 { margin: 0.5rem 0; color: $blue; }
	}
	// end standalones **//

	// colored section before grid layout (Section / Course Format / Seats Available)
	.section-table {
		color: $white;
		background-color: $blue;
		padding: 0.5rem 1rem;

		span { display: inline-block; }

		.course-section-top {
			font-weight: bold;
			font-size: 0.875rem;
		}

		.course-format-text, .course-format, .course-seats {
			font-size: 0.625rem;
		}

		.course-seats {
			float: right;
			margin: 0;
			margin-top: 0.35rem;
		}
	} // end .section-table
}

.table-format-grid {
	border: 1px solid $blue;

	// 6 column grid - keep head and body grid aligned (for content)
	.grid-head, .grid-body {
		display: grid;
		max-width: 100%;
		grid-column-gap: 20px;
		padding: 0.75rem 1rem;

		// set up faux-table with grid template on tablet+
		@include bp(sm) {
			grid-template-columns: 3.75rem 5rem 6.5rem 6.5rem 5.75rem 8.2rem;
		}
	}

	.grid-head {
		display: none;

		span {
			display: inline-block;
			font-size: 0.875rem;
			font-weight: bold;
			color: $blue;
		}

		@include bp(sm){
			display: grid;
		}
	}

	.grid-body {
		display: none;

		&:nth-child(even) { background-color: $sky-blue; }

		span {
			display: inline-block;
			font-size: 0.625rem;
			color: $light-black;
		}

		@include bp(sm){
			display: grid;
		}
	}

	.mobile-grid-body {
		display: block;
		padding: 1rem;
		
		&:nth-of-type(2n) { background-color: $sky-blue; }

		@include bp(sm){
			display: none;
		}
	}

	.mobile-grid-row {
		display: flex;
		justify-content: space-between;
		padding: .25rem;
		align-items: center;

		+ .mobile-grid-row {
			border-top: 1px solid $grey-nine;
		}

		.mobile-grid-row--heading {
			font-size: 0.875rem;
			font-weight: bold;
			color: $blue;
			padding-right: 1rem;
		}

		.mobile-grid-row--content {
			font-size: 0.75rem;
			color: $light-black;
		}
	}
}

// styles when the course is full - This must be below the standard grid format above
// the grid formatting above controls mobile styles - below controls COLORS ONLY
.course-item.full {
	.section-table {
		background: $table-gold;
		color: $light-black;
	}

	.table-format-grid {
		border: 1px solid $table-gold;
		.grid-head { span { color: $grey-four; } }

		.grid-body {
			&:nth-child(even) { background-color: $table-gold-light; }
		}
	}
}

// accordion stuff
.course-item {
	position: relative;

	&.show-description .course-accordion-toggle {
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		height: 3rem;
		background: none;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(0deg);
		background: none;
		border: none;
		box-shadow: none;
		color: $blue;
		font-weight: 700;
		border-radius: 100%;
		cursor: pointer;

		span {
			position: relative;
		}

		.fa-chevron-down {
			font-size: 1.375rem;
		}
	}

	.description .title {
		cursor: pointer;
	}

	.course-accordion-toggle {
		display: none;
	}

	&:not(.show-description) {
		display: none;
	}

	&.show-description:not(.visible){
		.section-table, .table-format-grid, .description .course-description {
			display: none;
		}
	}

	&.visible {
		display: block;

		.course-accordion-toggle {
			transform: rotate(180deg);
		}
	}
}

.page-template-course-schedules {
	.search-bar {
		margin-top: 0rem;

		@include bp(sm){
			margin-top: 2rem;
		}
	}
}