// Uses [program-type.twig] -> ( [program-courses.twig] , [gened.twig], [program-prereqs.twig] )

//** [program-courses.twig] **//
.course-type-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;

	h4, h6 { margin: 0; }
	h6 { color: $blue; }
}

.course-block, .hours-block {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $grey-five;
	padding: 0.5rem 0;

	.course-link {
		color: $blue;
		font-weight: bold;
		font-size: 0.875rem;
		&:hover { text-decoration: underline; }
	}

	.first-link {
		display: block;
		width: 6.25rem;
		@include bp(450px) { display: inline-block; }
	}

	.plain-link, span { font-size: 0.8125rem; }

	// links that go to a 404 are replaced with <span> instead
	span.course-link, span.first-link, span.plain-link {
		&:hover { text-decoration: unset; }
	}
}

.hours-block {
	border-bottom: none;

	p, span {
		font-weight: bold;
		color: $blue;
	}
}

//** [gened.twig] **//
.course-block-parent {
	margin: 3rem auto;
	p { font-size: 0.625rem; }
}

.first-block {
	margin: 0 auto 3rem;
}