// Controls styles for all 'Employees' / 'Program Instructors' / 'Foundation Board Members'
// Desktop and mobile styles

.add-width {
	// allows content to be centered (margin: 0 auto)
	max-width: 45rem;
}

// Tablet+ sizes
@include mq($from: 480px) {
	.mobile-instructor-wrapper { display: none; }

	.instructor-wrapper {
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(13.8rem, 13.8rem));
		column-gap: 1.25rem;
		row-gap: 2rem;

		.program-instructor-block {
			display: inline-block;
			max-width: 13.5rem;
			margin-top: 1rem;
			text-align: center;
			vertical-align: top; // required to keep boxes at top when expanding others (display: inline-block)

			h5 { color: $blue; margin: 0; }

			img {
				position: relative;
				max-width: 11rem;
				margin: 0 auto;
				z-index: 2;
				max-height: 9rem; // 144px
			}

			.instructor-info {
				position: relative;
				max-width: 100%;
				margin: -3rem auto 0;
				padding: 3rem 1rem 0;
				background-color: $grey-ten;
				clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
				z-index: 1;

				.dept-name {
					color: $light-black;
					padding: 0;
					margin: 0;
				}

				.plain-link {
					color: $blue;
					font-weight: normal;
				}

				.dropdown-toggle {
					all: unset;
					width: 11rem;
					position: relative;
					font-family: $font-body;
					font-size: 0.625rem;
					color: $light-black;
					border-top: 2px solid $pale-blue;
					padding: 0.75rem 0;
					cursor: pointer;
					// margin-top: 1.5rem;

					&:after {
						position: absolute;
						top: 0.75rem;
						content: '\f078';
						font-family: 'FontAwesome';
						font-size: 0.525rem;
						color: $light-black;
						transition: all 0.4s ease-out;
						margin-left: 0.2rem;
					}
				}

				.dropdown-toggled:after {
					transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					top: 0.9rem;
				}

				.info-dropdown {
					padding: 1rem;
					text-align: left;

					.bio {
						font-size: 0.625rem;
						color: $light-black;
						padding-bottom: 0;
					}

					.emp-phone-num {
						font-weight: normal;
					}
				}
			}
		}
	}
} // end of 480px+ styles

@include mq($until: 480px) {
	.instructor-wrapper { display: none; }

	.mobile-instructor-wrapper {
		display: block;
		margin: 0 auto;
		max-width: 100%;

		// <button>
		.mobile-dropdown-toggle {
			all: unset;
			display: block;
			max-width: 17.5rem;
			width: 100%;
			margin: 1rem auto 0;
			position: relative;
			padding-top: 0.5rem;
			padding-bottom: 1rem;
			cursor: pointer;
			font-family: $font-body;

			.h5-heading { color: $blue; }

			.member-title {
				max-width: 13rem;
				font-size: 0.875rem;
			}

			&:after {
				position: absolute;
				top: 1.4rem;
				right: 0;
				content: '\f078';
				font-family: 'FontAwesome';
				font-size: 0.75rem;
				color: $blue;
				transition: all 0.4s ease-out;
			}

			span { display: inline-block; margin-bottom: 0.25rem; }

			.dept-name {
				color: $light-black;
				padding: 0;
				margin: 0;
			}
		}

		// on <button> (border needs toggled on mobile when dropdown is opened)
		.add-border {
			border-bottom: 2px solid $pale-blue;
		}

		// <button> rotates the chevron from down to up
		.mobile-dropdown-toggled:after {
			transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			top: 1.6rem; // offset needed for firefox
		}

		.mobile-instructor-block {
			margin: 0 auto;
			max-width: 17.5rem;

			img {
				max-width: 11rem;
				padding-bottom: 0.5rem;
			}

			.plain-link {
				display: inline-block;
				margin-top: 0.5rem;
				color: $blue;
			}

			.bio {
				padding: 0.5rem 0;
				font-size: 0.625rem;
				border-top: 1px solid $pale-blue;
				border-bottom: 1px solid $pale-blue;
			}
		}
	}
}

.page-template-employee-directory {

	.search-bar {
		margin-top: -3rem;
	}

	#employee-departments {
		border-radius: 0;
		@include bp(sm) { margin-right: 1rem; }
	}

	#employee-search {
		background: $white url('./static/icons/search-solid.svg') no-repeat;
		background-size: 10px 10px;
		background-position: right 10px bottom 50%;
	}

	.letter {
		border-bottom: 1px solid $dark-blue;
		margin: 3rem auto 0;
		max-width: 19rem;
		@include bp(414px) { max-width: 23rem; }
		@include bp(xs) { max-width: 44rem; }
	}

	.employee-directory-wrapper {
		display: none;
		@include bp(xs) { display: block; }

		.employee-letter-wrapper {
			display: grid;
			margin: 0 auto;
			grid-template-columns: repeat(auto-fill, minmax(13.8rem, 13.8rem));
			column-gap: 1.25rem;
			row-gap: 2rem;
			justify-content: center;
			@include bp(md) { justify-content: initial; }
		}
	}

	.program-instructor-block {
		display: inline-block;
		max-width: 13.5rem;
		margin-top: 1rem;
		text-align: center;
		vertical-align: top; // required to keep boxes at top when expanding others (display: inline-block)

		h5 { color: $blue; margin: 0; }

		img {
			position: relative;
			max-width: 11rem;
			margin: 0 auto;
			z-index: 2;
		}

		.instructor-info {
			position: relative;
			max-width: 100%;
			margin: -3rem auto 0;
			padding: 3rem 1rem 0;
			background-color: $grey-ten;
			clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
			z-index: 1;

			.dept-name {
				color: $light-black;
				padding: 0;
			}

			.dropdown-toggle {
				all: unset;
				width: 11rem;
				position: relative;
				font-size: 0.625rem;
				color: $light-black;
				border-top: 2px solid $pale-blue;
				padding: 0.75rem 0;
				cursor: pointer;
				// margin-top: 1.5rem;
				font-family: $font-body;

				&:after {
					position: absolute;
					top: 0.75rem;
					content: '\f078';
					font-family: 'FontAwesome';
					font-size: 0.525rem;
					color: $light-black;
					transition: all 0.4s ease-out;
					margin-left: 0.2rem;
				}
			}

			.dropdown-toggled:after {
				transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				top: 0.9rem;
			}

			.info-dropdown {
				padding: 1rem;
				text-align: left;

				.bio {
					font-size: 0.625rem;
					color: $light-black;
					padding-bottom: 0;
					margin-bottom: 0; // override  .interior-block-default p   styles
				}

				.plain-link { color: $blue; }
			}

			p:not(.bio) {
				width: 11.5rem;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
		}
	}

	// Keeps letters off home even when not on mobile
	.interior-block.hide-emps-desktop {
		display: block;
		@include bp(xs) { display: none; }
	}

	.hide-desktop {
		display: block;
		@include bp(xs) { display: none; }
	}
}

.search-all-employees {
	display: none;
}

.searching-employees {
	.search-all-employees {
		display: block;
		flex-wrap: wrap;

		.employee-wrapper.desktop {
			display: none;
		}

		@include bp(xs) {
			display: flex;

			.employee-wrapper.mobile {
				display: none;
			}
			.employee-wrapper.desktop {
				display: block;
			}
		}

		.program-instructor-block {
			margin-right: 1rem;
		}
	}

	// hide all that stuff when searching
	.letter, .employee-directory-wrapper, .hide-emps-desktop {
		display: none !important;
	}
}