.footer-container {
	max-width: 100%;
	margin: 0 auto;
	background-color: $blue;
	padding: 1.25rem 1rem 0;
	overflow: hidden;
}

.footer-content {
	position: relative;
	max-width: 56.25rem;
	width: 100%;
	margin: 0 auto;

	.wrangler-image,
	.foundation-image {
		position: absolute;
		bottom: 0;
		opacity: 0.4;
		mix-blend-mode: multiply;
		z-index: 0;
	}

	.foundation-image {
		bottom: -25%;
		left: 50%;
		transform: translateX(-50%);
	}

	// setup all content areas with base styles
	.content-top,
	.content-middle {
		position: relative;
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		z-index: 2;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	.content-top {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 0;
		padding-bottom: 0;

		@include bp(xs) {
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			flex-direction: row;
			justify-content: space-between;
		}

		img {
			display: none;
			@include bp(xs) { display: block; }
		}

		.content-top-mobile {
			display: block;
			font-size: 0.875rem;
			line-height: 1.3;
			color: $white;
			padding-bottom: 1rem;
			text-align: center;
			@include bp(xs) { display: none; }

			a, p, address {
				color: $white;
				font-size: 0.875rem;
			}

			a { display: inline-block; }
			p { font-weight: bold; }

			address {
				max-width: 11.5rem;
				span { font-size: 0.875rem; }

				.add-space { margin-top: 1rem; }
			}
		}

		&__social-icons {
			display: flex;
			justify-content: space-between;
			width: 100%;
			vertical-align: middle;
			border-top: 1px solid $white;
			padding: 1rem 0;

			@include bp($small-tablet) { justify-content: space-around; }

			@include bp(xs) {
				justify-content: space-between;
				max-width: 11.6rem;
				border-top: none;
				padding: unset;
			}

			svg {
				width: 1.375rem;
				height: 1.375rem;
				&:hover { #fill-color { fill: $orange; } }
			}
		}
	}

	.content-middle {
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;

		h6 {
			margin: 0;
			color: $white;
			margin-bottom: 0.625rem;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li a {
				color: $white;
				font-size: 0.875rem;
				&:hover { text-decoration: underline; cursor: pointer; }
			}
		}

		&__address, &__foundation {
			max-width: 9.75rem;

			address, a {
				font-size: 0.875rem;
				line-height: 1.3;
				color: $white;
			}

			a {
				display: inline-block;
				&:hover { text-decoration: underline; }
			}

			.add-space { margin-top: 1rem; }
		}

		&__address {
			display: none;
			@include bp(620px) { display: block; }
		}

		&__foundation {
			max-width: 15rem;
		}

		&__hlc {
			display: none;
			@include bp(800px) { display: block; }

			a {
				display: block;
				margin-top: 1rem;
				img { max-width: 10rem; }
			}
		}
	} // end [.content-middle]

	.content-bottom {
		position: relative;
		z-index: 2;
		padding-bottom: 1.25rem;

		.degree-stats-link {
			display: block;
			max-width: 12.5rem;
			margin: 1rem 0 0.5rem;
			font-size: 1.1rem;
			font-weight: bold;
			@include bp(800px) { display: none; } // hlc and degree link show at 800px

			span {
				margin-right: 0.25rem;
			}
		}

		iframe {
			display: block;
			@include bp(800px) { display: none; }
		}

		a, p {
			display: inline-block;
			font-size: 0.625rem;
			font-weight: 300;
			margin: 0 auto; 
			color: $white;
		}

		p {
			padding-top: 0.625rem;
			padding-bottom: 1rem;
			@include bp(570px) { padding-bottom: 1.5rem; }
		}

		&__copyright {
			display: block;
			max-width: 100%;
			text-align: center;

			@include bp(570px) {
				display: flex;
				justify-content: space-between;
				flex-wrap: nowrap;
				text-align: initial;
			}

			a, p {
				display: block;
				margin: unset;
				padding: 0;
			}

			a {
				margin: 1rem auto 0;
				@include bp(570px) { margin: unset; }

				img {
					max-width: 1.3rem;
					vertical-align: sub;
					margin: unset;
				}
			}

			p {
				text-align: left;
			}
		}
	}
}