// Lightbox Form on Employee Directory Page
// override popup maker styles and gravity forms styles
#pum-74634 #popmake-74634 {
	max-width: 35rem !important;
	padding: 2.5rem;

	.pum-title {
		font-family: $font-body;
		font-size: 1.375rem;
		font-weight: bold;
		color: $dark-blue;
	}

	.pum-close {
		top: 2.5rem;
		right: 2.5rem;
		border: 2px solid $blue;
		color: $blue;
		border-radius: 50%;
		font-size: 1rem;
		width: 30px;
		height: 30px;
		font-weight: bold;
	}

	#gform_wrapper_4 {
		margin-top: 2rem;

		ul li {
			padding-right: 0;

			.gfield_required { display: none; }
		}

		#field_4_1, #field_4_2, #field_4_3 {
			width: 13.5rem !important;
			font-family: $font-body;

			input {
				width: 13.5rem !important;
			}
		}

		// Name field
		#field_4_1 {
			float: left !important;
		}

		// Email Field
		#field_4_2 {
			clear: right;
			float: right !important;
		}

		// Subject field
		#field_4_3 {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		input, textarea, label {
			font-family: $font-body;
			font-size: 0.875rem;
		}

		input, textarea {
			border: 1px solid $blue;
		}

		.ginput_container {
			margin-top: 4px;
		}

		.gform_footer {
			padding-bottom: 0;
		}

		#gform_submit_button_4 {
			display: inline-block;
			max-width: 12rem;
			padding: 0.625rem 0.75rem;
			background-color: $blue;
			color: $white;
			box-shadow: $blue-shadow;
			font-size: 0.875rem;
			font-family: $carbon;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:hover { background-color: $dark-blue; cursor: pointer; }
		}
	} // end gform_wrapper_4
}

// Accessibility Response Form
#gform_wrapper_1 {
	max-width: 45rem;
	margin: 4rem auto 0;

	input, textarea, label {
		font-family: $font-body;
		font-size: 0.875rem;
	}

	input, textarea {
		border: 1px solid $blue;
	}

	label { color: $dark-blue; }

	#gform_submit_button_1 {
		all: unset; // fix button
		display: inline-block;
		max-width: 12rem;
		padding: 0.625rem 0.75rem;
		background-color: $blue;
		color: $white;
		box-shadow: $blue-shadow;
		font-size: 0.875rem;
		font-family: $carbon;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover { background-color: $dark-blue; cursor: pointer; }
	}
}