.foundation-header-wrapper,
.standard-foundation-header {
	display: block;
	position: relative;
	width: 100vw;
	height: 45vh;
	@include bp(sm) { height: 50vh; }

	@include bp(md) {
		top: 0;
		height: 100vh;
		margin-left: 14rem;
	}

	.image-container {
		width: 100%;
		height: 45vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include bp(sm) { height: 50vh; }
		@include bp(md) { height: 100vh; }
	}

	.foundation-overlay-text {
		position: absolute;
		max-width: 20rem;
		top: 50%;
		transform: translateY(-50%);
		color: $white;
		background-color: rgba($blue, 0.8);
		padding: 0.5rem 0;

		@include bp(sm) {
			padding: 1.8rem;
			max-width: 35rem;
			background-color: rgba($blue, 0.95);
		}

		@include bp(md) { padding: 2.5rem 2.5rem 2.5rem 0; }

		span, h1 {
			padding-left: 1rem;
			@include bp(sm) { padding-left: 5rem; }
		}

		a {
			margin-left: 1rem;
			@include bp(sm) { margin-left: 5rem; }
		}

		span {
			font-size: 0.875rem;
			font-weight: bold;
		}

		h1 {
			font-size: 2rem;
			margin-top: 0.5rem;
			@include bp(md) { font-size: 2.5rem; }
			@include bp(lg) { font-size: 3rem; }
		}
	}
}

// slight changes (mostly height and padding)
.standard-foundation-header {
	@include bp(sm) { height: 50vh; }
	@include bp(md) {
		top: 0;
		height: 65vh;
		margin-left: 14rem;
	}

	.image-container {
		width: 100%;
		height: 35vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include bp(sm) { height: 50vh; }
		@include bp(md) { height: 65vh; }
	}

	.foundation-overlay-text {
		width: 100%;
		background-color: rgba($blue, 0.95);

		h1 {
			margin: 0;
			padding-top: 3rem;
			padding-bottom: 3rem;

			@include bp(sm) {
				padding-top: 5rem;
				padding-bottom: 5rem;
			}

			@include bp(xl) {
				padding-top: 8rem;
				padding-bottom: 8rem;
			}
		}
	}
}