// Start Your Future (only shown on tablet+)
.start-future-title {
	display: none;
	@include bp(940px) {
		display: block;
		margin-bottom: 1.5rem;
	}
}

.adventure-selection {
	display: none;
	// 940px is where all the items fit in the horizontal space (too tall vertical)
	@include bp(940px) {
		display: flex;
		max-width: 100%;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 auto 2.5rem;
	}

	.option-picker {
		all: unset;
		max-width: 15.3rem;
		width: 100%;
		border: 1px solid $blue;
		color: $grey-eight; // "placeholder" only - overwritten below
		font-family: $carbon;
		font-size: 0.875rem;
		text-transform: uppercase; // "placeholder" only - overwritten below
		padding: 0.35rem;
		cursor: pointer;

		option[default] {
			display: none; // prevent displaying placeholders in the drop down
		}

		.dark-text { color: $light-black; }
	}
}

.adventure-results {
	display: block; // centered and 100vw on mobile (for images)
	max-width: 100%;
	margin: 2rem auto;

	@include bp(940px) {
		display: grid;
		margin: 0 auto 5rem;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 18rem));
		column-gap: 1.12rem;
		justify-content: left;
	}

	.results-card {
		margin: 0 auto;
		@include bp(sm) { display: none; max-width: 18rem; }
		@include bp(940px) { margin: unset; }

		img {
			display: block;

			@include mq($until: 480px) {
				max-width: unset; // from [_normalize.scss]
				width: 100vw;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
			}

			@include bp(sm) {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
			}
		}

		&__blue-panel {
			max-width: 20rem;
			margin: -5rem auto 0;
			padding: 2.5rem 1rem 1rem;
			background-color: rgba($blue, 0.9);
			color: $white;
			clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);

			@include bp(xs) {
				margin: -3.5rem auto 0;
				padding: 3.75rem 1rem 1rem;
			}

			@include bp(sm) { max-width: 16.75rem; }

			.panel-title {
				display: inline-block;
				font-weight: bold;
				font-size: 1.5rem;

				@include bp(xs) {
					min-height: 3rem;
					font-size: 1.125rem;
					font-weight: 500;
				}
			}

			p {
				margin: 0;
				color: $white;
				font-weight: 400;
				padding-top: 1rem;
				padding-bottom: 1rem;
				@include bp(xs) { min-height: 8rem; }
			}

			.learn-more--w {
				font-size: 0.775rem;
				font-weight: bold;
				text-decoration: none;
				&:hover { text-decoration: none; }
			}
		}
	}
}

// Student Testimonials
.video-testimonial {
	position: relative;
	max-width: 100%;
	margin: 12rem auto 2rem;
	@include bp(sm) { margin: 5rem auto; }

	video {
		display: block;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		width: 100vw;
		object-fit: fill;
		z-index: 1;

		@include bp(xs) {
			max-width: 22rem; // only use this - let height flow
			width: 100%;
			margin: 0 auto;
			left: unset;
			right: unset;
		}

		@include bp(540px) { margin: unset; }
	}

	.testimonial-info {
		position: relative;
		max-width: 20rem;
		width: 100%;
		margin: 0 auto;
		padding: 2.5rem 1.5rem 1.5rem;
		background: rgba($blue, 0.95);
		z-index: 2;

		@include bp(540px) {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			margin-top: 0;
			clip-path: unset;
		}

		@include bp(868px) {
			max-width: 42.25rem;
			clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
			padding: 2.5rem 2.5rem 0 10.3rem;
		}

		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}

		p {
			color: $white;
			min-height: 10.5rem;
		}

		.button-below {
			color: $white;
			min-height: 6.5rem;
		}

		.learn-more--o {
			display: inline-block;
			margin-bottom: 2rem;
		}
	}
}

.metrics-block {
	display: flex;
	max-width: 100%;
	margin: 0 auto 5rem;
	justify-content: space-around;
	flex-wrap: wrap;
	@include bp(868px) { justify-content: space-between; }

	.grey-bar {
		display: none;

		@include bp(868px) {
			display: inline-block;
			background-color: $grey-nine;
			width: 2.2rem;
			height: 2px;
			margin-top: 3rem;
		}
	}

	&--inner {
		max-width: 15.625rem;
		text-align: center;
		margin-top: 1.5rem;

		h2 {
			color: $blue;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 2.5rem;
		}

		p {
			max-width: 15rem;
			font-family: $carbon;
			font-weight: 300;
			color: $steel-grey;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1;
		}
	}
}