* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: subpixel-antialiased; // Mac only

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height - [typography.scss] overrides this if you need granular control
	line-height: 1.2;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

// the main content wrapper for all pages - wraps content block in [base.twig]
.content-wrapper {
	max-width: 100%;
	position: relative;
	margin: 0 auto; // nav at top on mobile
	
	@include bp(md) {
		margin: 0 auto 0 14rem; // sidebar nav on laptop+ (14rem wide)
	}
}

.global-page-wrapper {
	max-width: 58.25rem; // 2rem extra to account for padding
	margin: 0 auto;
	padding: 0 1rem;
}

.set-width-43 {
	max-width: 43.125rem;
}

.set-width-44 {
	max-width: 44.5rem;
}

// Global Select Styles (chevron / caret)
select {
	background: $white url('./static/icons/chevron-down-solid.svg') no-repeat !important;
	background-size: 10px 10px !important;
	background-position: right 10px bottom 50% !important;
}

.interior-block,
.interior-block-default {
	margin: 5rem auto;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		// small bullets for <ul>
		li:before {
			content: '\2022';
			position: relative;
			top: -2px;
			padding-right: 0.4rem;
			font-size: 0.55rem;
		}
	}

	ul, ol, ul li, ol li {
		font-family: $font-body;
		font-size: 0.875rem;
	}

	.h6-blue {
		color: $blue;
	}
}

// Do not add width to this block - will break all angled blocks
.interior-block-default {
	// max-width set by global page wrapper (58.25rem)
	margin: 3rem auto;
	@include bp(sm) { margin: 5rem auto; }

	// global width and margin for non-custom blocks
	h1, h2, h3, h4, h5, h6, p, ul, ol {
		max-width: 45rem;
		margin: 0 auto;
	}

	// heading margin tweaks
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	h4 { margin-top: 2rem; }

	// color change on h6
	h6 { color: $blue; }

	// paragraph spacing tweaks
	p {
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;

		a {
			font-size: 0.875rem;
			&:hover { text-decoration: underline; }
		}
	}

	.wp-block-button {
		margin: 0 auto;
		text-align: left;
		max-width: 45rem;
	}

	// allow large images to fill up the content area (without overflowing into the wrapper)
	img { max-width: 45rem; }

	// List styles //
	ul li, ol li {
		font-family: $font-body;
		font-size: 0.875rem;
	}

	ul {
		padding-left: 2rem;
		margin-top: -0.2rem;
		margin-bottom: 2rem;

		li {
			position: relative;

			// fake bullets let text wrap instead of going under bullet
			&:before {
				display: inline-block;
				position: absolute;
				top: 0.22rem;
				left: -1rem;
			}

			// tweaks for links within lists
			a {
				font-size: 0.875rem;
				&:hover { text-decoration: underline; }
			}
		}
	}

	// hotfix for gutenberg gallery block (uses lists)
	ul.wp-block-gallery {
		padding-left: 0;
		li { &:before { content: '' !important; } }
	}

	// nested list styles
	ul li > ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	// Specific Search width for Pages using the Interior Blocks styles
	.search-bar .search-bar-content {
		@include bp(sm) { max-width: 33rem; }
	}

	// client may want back - keep
	// .child-menu {
	// 	max-width: 45rem;
	// 	margin: 4rem auto 1rem;

	// 	h5 {
	// 		margin-top: 0;
	// 		margin-bottom: 1rem;
	// 		margin-left: 0;
	// 		border-bottom: 1px solid $dark-blue;
	// 	}

	// 	&__links {
	// 		a {
	// 			display: inline-block;
	// 			margin-bottom: 0.8rem;
	// 			color: $dark-blue;
	// 			font-weight: normal;
	// 			font-style: italic;
	// 			font-size: 0.875rem;
	// 			text-decoration: none;
	// 			&:last-of-type { margin-bottom: 0; }
	// 			&:hover { text-decoration: underline; }
	// 		}

	// 		span {
	// 			display: inline-block;
	// 			margin-left: 0.5rem;
	// 			margin-right: 0.5rem;
	// 			&:last-of-type { display: none;}
	// 		}
	// 	}
	// }
}

// apply and request info buttons (.large-button)
.center-buttons {
	text-align: center;
	margin-top: 5rem;
	@include bp(sm) { text-align: left; }

	a { display: inline-block; }

	.first-button {
		margin-bottom: 1.5rem;

		@include bp(sm) {
			margin-right: 2.5rem;
			margin-bottom: 0;
		}
	}
}

// global search bar fonts and sizes
.search-bar .search-bar-content {
	font-family: $font-body;
	font-size: 0.625rem;

	// remove browser styles
	select, input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0 !important;
	}

	select {
		font-family: $font-body;
		font-size: 0.625rem;
	}

	input {
		font-size: 0.625rem;
		font-family: $font-body;
		margin-top: 1rem;
	}

	@include mq($from: 768px) {
		select, input { width: 13.5rem; }
		input { margin-top: 0; }
	}
}

// global mobile styles for the search bar
@include mq($until: 768px) {
	.search-bar, .search-bar.open {
		position: relative;
		width: 100vw !important;
		max-width: 100vw !important;
		left: 50%;
		right: 50%;
		margin-left: -50vw !important;
		margin-right: -50vw !important;

		.search-bar-content {
			max-width: 22.5rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

.hide-on-desktop {
	display: block;
	@include bp(xs) { display: none; } // xs = 480px
}

.hide-on-mobile {
	display: none;
	@include bp(xs) { display: block; } // xs = 480px
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.3s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-out;
}

// needed to keep the blend mode active when sliding *jquery-ui* (home page header only)
.ui-effects-wrapper {
	mix-blend-mode: multiply !important;
}

// full width overlay on mobile and trapezoid on laptop+
.home-blue-trapezoid-overlay, .blue-trapezoid-overlay {
	display: block;
	position: absolute;
	width: 100vw;
	top: 0;
	height: 100%;
	background: $glass-overlay;
	mix-blend-mode: multiply;
	z-index: 3;

	@include bp(md) {
		width: 60vw;
		clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
	}
}

// Less sharp angle for smaller headers
.blue-trapezoid-overlay {
	@include bp(md) { clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%); }
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

// 404 page styles (uses global-page-wrapper)
.not-found {
	margin-top: 4rem;
	margin-bottom: 4rem;
	h1 { font-family: $carbon; }
	p { font-size: 1rem; }
}