// target <body> class
.search-results {
	header { display: none; }

	.page-numbers {
		display: inline-block;
		padding: 0.3rem 0.6rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1.2rem;
		font-weight: bold;
		font-size: 0.875rem;
		color: $grey-eight;
	}

	.current {
		color: $blue;
		border-bottom: 1px solid $blue;
	}
}