.large-header-wrapper {
	display: block;
	position: relative;
	width: 100vw;
	@include bp(md) { margin-left: 14rem; }

	.image-container {
		width: 100%;
		height: 25vh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-blend-mode: multiply; // for linear gradient
		@include bp(xs) { height: 35vh; }
		@include bp(sm) { height: 45vh; }
		@include bp(md) { height: 65vh; }
	}

	.header-overlay-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		z-index: 10;
		mix-blend-mode: hard-light; // make text appear on top
		text-align: center;
		max-width: 24rem;
		width: 100%;

		@include bp(sm) {
			width: 40rem;
			max-width: unset;
			left: unset;
			transform: translateY(-50%);
			text-align: left;
		}

		// constrain on laptop+ (for header sizing)
		@include bp(md) { width: 40%; }

		h1, .course-req-header {
			@include bp(sm) { padding-left: 6.5rem; }
		}

		// only displayed on pages with 'AAS', 'TCER', or 'CERT' in the URL
		.course-req-header {
			display: inline-block;
			font-size: 0.875rem;
			font-weight: bold;
			max-width: 24rem;
		}
	}
}