.home-header-wrapper {
	display: block;
	position: relative;
	width: 100vw;
	height: 30vh;

	@include bp(xs) { height: 35vh; }
	@include bp(sm) { height: 45vh; }

	@include bp(md) {
		top: 0;
		height: 100vh;
	}

	@include mq($until: $laptop) {
		.slide-container { display: none; }
	}

	// mobile header at bottom //
	@include mq($from: $laptop) {
		.slide-container {
			display: block;

			.slider--item {
				background-repeat: no-repeat;
				background-size: cover;
				background-blend-mode: multiply; // for linear gradient

				img, video {
					width: 100%;
					height: 100vh;
				}

				video { object-fit: cover; }

				// Blue trapezoid overlay is in [_globals.scss]

				.home-header-overlay-text {
					position: absolute;
					top: 40%;
					transform: translateY(-40%);
					width: 60%;
					color: $white;
					z-index: 20;

					h1, p {
						padding-left: 1.2rem;
						max-width: 38rem;
						@include bp(md) { padding-left: 6.5rem; }
						@include bp(xl) { max-width: 100%; }
					}

					// main header
					h1 { margin-bottom: 0; }

					// sub-text
					p {
						max-width: 39rem;
						color: $white;
					}

					// button if present
					a {
						margin-top: 1.5rem;
						margin-left: 1.2rem;
						@include bp(md) { margin-left: 6.5rem; }
					}

					// video modal button trigger (video styles at bottom)
					.home-video-button {
						margin-top: 1rem;
						&:hover { cursor: pointer; }
					}
				}
			}
		}
	}

	// slider progress bar //
	@include mq($until: $laptop) {
		.slider-progress-container { display: none; }
	}

	@include mq($from: $laptop) {
		.slider-progress-container {
			display: flex;
			justify-content: space-between;
			align-items: flex-end; // for wrapping text that is +2 lines long
			max-width: 40rem;
			width: 100%;
			position: absolute;
			left: 13.85rem;
			bottom: 1.5rem;
			margin-left: 6.5rem;
			z-index: 5; // always on top
			@include bp(lg) { max-width: 52rem; }

			.slider-progress-content {
				p {
					width: 11rem;
					color: $white;
					padding: 0;
					font-weight: 300;
					font-size: 1rem;
					margin-bottom: 0.5rem;

					@include bp(lg) {
						width: 13.85rem;
						font-size: 1.125rem;
					}
				}
			}

			.progress-bar-handle {
				width: 11rem;
				height: 2px;
				background-color: $white;
				@include bp(lg) { width: 13.85rem; }
			}

			.progress-bar-1, .progress-bar-2, .progress-bar-3 {
				width: 0%;
				height: 2px;
				background-color: $blue;
			}
		}
	}

	// use id to control when this style takes over
	// .large-header-wrapper is in [_header.scss]
	#mobile-home-header {
		display: block;
		@include bp(md) { display: none; }

		.image-container {
			height: 30vh;
			@include bp(xs) { height: 35vh; }
			@include bp(sm) { height: 45vh; }
			@include bp(md) { height: 65vh; }
		}

		// base styles pulled from [_header.scss]
		.header-overlay-text {
			text-align: unset;

			@include bp(xs) {
				left: unset;
				transform: translateY(-50%);
			}

			h1 {
				padding-left: 1.5rem;
				text-align: left;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				font-size: 1.25rem;

				// padding for iphone 5s (or 320px)
				&:first-of-type { padding-top: 1rem; }
				&:last-of-type { margin-bottom: 0; }

				@include bp(xs) { font-size: 1.75rem; }
				@include bp(sm) { font-size: 2.5rem; }
			}

			p.mobile-header-subtext {
				padding-left: 1.5rem;
				max-width: 39rem;
				color: $white;
				@include bp(md) { padding-left: 6.5rem; }
				@include bp(xl) { max-width: 100%; }
			}

			.home-video-button {
				padding-left: 1.3rem;
				&:hover { cursor: pointer; }
				svg { max-width: 45px; }
			}
		}
	}

	.video-modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		padding: 1rem; // smaller screens
		background-color: rgba($black, 0.7);
		width: 100vw;
		height: 100vh;
		z-index: 25; // Slider + Overlay are at 21
		@include bp(md) { transform: translate(-50%, -50%); }

		.modal-container {
			position: relative;
			margin: 0 auto;
			max-width: 800px;
			height: 450px;

			button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: none;
				border: none;
				display: block;
				position: absolute;
				right: 0;
				font-size: 1rem;
				color: $white;
				font-family: $font-body;
				&:hover { cursor: pointer; }
				@include bp(xl) { top: 50%; }
			}

			iframe {
				position: relative;
				width: 100%;
				height: 100%;
				border: 0;
				@include bp(xl) { top: 50%; }
			}
		}
	}
} // end .[home-header-wrapper]