// global menu styles
.nav-wrapper {
	position: relative;
	max-width: 100%;
	background-color: $white;
	z-index: 21; // progress bars for slider are set at 20

	@include bp(md) {
		position: fixed;
		height: 100vh;
		max-width: 14rem;
		margin-left: 0;
	}
}

// hamburger menu
#menu-toggle { display: none; }

// back arrow button
button.menu-back {
	border: none;
	background: none;
	width: calc(100% - 5rem);
	display: none;
}

// search box in menu (#menu-item-1735)
#s {
	font-family: $font-body, FontAwesome;
	color: $light-black;
	border: unset;
	font-size: 0.875rem;
	width: 9.5rem;
	background-color: transparent;
}

// sitewide placeholder text (make it readable)
::placeholder {
	color: $light-black;
	opacity: 1;
}

// laptop+ styles
@include mq($from: $laptop) {
	.nav-container {

		.logo {
			display: inline-block;
			margin-bottom: 2.5rem;
			padding: 2.5rem 2.1875rem 0;
			@include bp(xl) { margin-bottom: 5rem; }

			.foundation-tag {
				margin-top: 0.5rem;
				border-top: 2px solid $blue;
				text-align: center;

				p {
					font-size: 1.1rem;
					color: $blue;
					margin-top: 0.5rem;
					margin-bottom: 0;
				}
			}
		}

		.mobile-logo { display: none; }
		.navbar-button { display: none; }

		.nav-menu {
			// hide these items on laptop+
			#menu-item-148958, #menu-item-148959, #menu-item-148960,
			#menu-item-148961, #menu-item-148962, #menu-item-148963,
			#menu-item-148965, #menu-item-148966, #menu-item-148967,
			#menu-item-148968, #menu-item-148969, #menu-item-148970,
			#menu-item-148971, #menu-item-148972 {
				display: none;
			}

			ul {
				width: 100%;
				margin: 0 auto;
				padding: 0;
				list-style: none;
			}

			li:not(#menu-item-4486):not(#menu-item-3850) {
				width: 14rem;

				a {
					text-align: left;
					display: inline-block;
					width: 9.5rem;
					font-size: 0.875rem;
					padding: 0.9375rem 0;
					margin-left: 2.25rem;
					transition: none;
					border-bottom: 1px solid $pale-blue;
					color: $light-black;
					cursor: pointer;

					&:hover {
						transition: none;
						color: $white;
					}
				}

				// no blue hover on search menu (we want all the other styles though)
				&:hover:not(#menu-item-1735) {
					transition: none;
					background-color: $blue;
					transition-delay: 0.2s;

					> a {
						color: $white;
						border-bottom: 1px solid transparent;
					}

					// base styles just below #menu-item-36
					// first slide-out
					> .sub-menu {
						visibility: visible;
						width: 16rem;
						transition:  0.2s ease-out;
						transition-delay: 0.2s;

						> li {
							visibility: visible;
							opacity: 1;
							transition: opacity 0.3s ease-in;
						}

						// first slide-out links (only show first)
						> li > a {
							visibility: visible;
							opacity: 1;
							transition: opacity 0.1s ease-in;
						}

						// second slide-out
						> li:hover > .sub-menu {
							width: 23.5rem;
							visibility: visible;
							opacity: 1;
							transition: opacity 0.2s;

							li { width: 22.5rem; }

							a {
								width: 18rem !important;
								opacity: 1;
								transition: opacity 0.2s;
							}
						}
					} // /.[sub-menu]
				} // li &hover -> sub-menu
			} // li:not(...)

			#menu-item-4486, #menu-item-3850 {
				text-align: center;

				> a {
					display: inline-block;
					padding: 0.6rem 2.3rem;
					margin-top: 1.5rem;
					font-family: $carbon;
					font-size: 0.875rem;
					background-color: $orange;
					color: $light-black;
					box-shadow: $blue-shadow;
					border-bottom: none;
					text-transform: uppercase;
					letter-spacing: 1px;

					&:hover {
						background-color: $dark-blue;
						color: $white;
					}
				}
			}

			// foundation's "Give Today" button / color swap
			#menu-item-3850 > a {
				background-color: $blue;
				color: $white;
				
				&:hover {
					background-color: $orange;
					color: $light-black;
				}
			}

			// sub menu base styles (applies to nested sub-menus as well)
			.sub-menu {
				visibility: hidden;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 14rem;
				width: 0;
				transition: 0.2s ease-out;
				transition-delay: 0.2s;
				padding-top: 9.85rem;
				box-shadow: 0 4px 4px $grey-five; // divider style look for menu transitions
				background-color: $white;
				z-index: 2;
				@include bp(xl) { padding-top: 12.35rem; }

				// Taxonomy menu items only
				> li {
					width: 16rem !important;

					a {
						width: 11.5rem !important;
						padding: 0.5rem 0 !important;
					}

					> ul {
						width: 22.5rem !important;

						li {
							width: 22.5rem !important;
						}
					}
				}

				> li {
					visibility: hidden;
					opacity: 0;
					transition: 0.1s ease-out;
					transition-delay: 0s;
				}

				// first set of slide-out links
				> a {
					visibility: hidden;
					opacity: 0;
					transition: opacity 0.1s ease-out;
				}

				// second slide-out links
				> li > .sub-menu {
					width: 21rem;
					left: 16rem;
					overflow-y: scroll;
					overflow-x: hidden;
					transition-delay: 0s;
					transition: opacity 0.2s;
					visibility: hidden;
					opacity: 0;

					li { width: 21rem; }

					a {
						opacity: 0;
						transition: opacity 0.2s;
						width: 21rem;
						transition-delay: 0s;
						padding: 0.5rem 0;
					}
				}
			}
		} // .nav-menu
	} // .nav-container
}

// mobile to laptop styles
@include mq($until: 1022px) {
	.nav-menu {
		box-shadow: 0 2px 4px rgba($black, 0.5);
		padding: 1.4rem;
	}

	.logo { display: none; }

	// left menu
	#menu-toggle {
		display: inline-block;
		position: absolute;
		top: 0.8rem;
		left: 0.7rem;

		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			width: 1.6rem;
			height: 3px;
			margin-bottom: 5px;
			background-color: $blue;
			transition: 0.2s ease-out;
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-out;
			margin-bottom: 0;

			&:nth-child(3n+1) {
				top: 8px;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				top: 2px;
				transform: rotate(-45deg);
			}
		}
	}

	// center wordmark
	.mobile-logo {
		display: inline-block;
		position: absolute;
		top: 55%; // moves inline with menu
		left: 45%;
		transform: translate(-45%, -50%);
		max-width: 4rem;

		@include bp(xs) {
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// right apply button
	.navbar-button {
		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0.7rem;
		transform: translateY(-50%);

		a {
			font-size: 0.75rem;
			color: $light-black;
			padding: 0.3rem 0.5rem;
			background-color: $orange;
		}
	}

	.menu {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 2.8rem;
		left: 0;
		width: 0;
		background-color: $white;
		transition: 0.3s ease-out;
		padding: 1rem 1.5rem;
		margin-top: 0;
		z-index: -1; // pushes under 1 layer - overlays on body content still
	}

	.menu-open {
		visibility: visible;
		opacity: 1;
		width: 100%;
		height: 100vh;
		transition: 0.3s ease-out;

		@include bp(xs) {
			width: 16rem;
		}
	}

	.nav-menu {
		// show parent-level Menu items inside the child menu since these do not link
		#menu-item-148958, #menu-item-148959, #menu-item-148960,
		#menu-item-148961, #menu-item-148962, #menu-item-148963,
		#menu-item-148965, #menu-item-148966, #menu-item-148967,
		#menu-item-148968, #menu-item-148969, #menu-item-148970,
		#menu-item-148971, #menu-item-148972 {
			display: inline-block;
		}

		ul {
			width: 100%;
			margin: 0 auto;
			padding: 0;
			list-style: none;
			@include bp(xs) { width: 16rem; }
		}

		li:not(#menu-item-4486):not(#menu-item-3850) {
			width: 100%;

			a, button.menu-back {
				text-align: left;
				display: block;
				margin: 0 2.5rem;
				font-size: 0.875rem;
				padding: 0.9375rem 0 0.9375rem 0;
				transition: none;
				border-bottom: 1px solid $pale-blue;
				color: $light-black;
				cursor: pointer;

				&:hover {
					transition: none;
					color: $white;
				}
			}

			// back arrow button
			button.menu-back:hover {
				border-bottom: 1px solid transparent;
			}

			// no blue hover on search menu (we want all the other styles though)
			&:hover:not(#menu-item-1735) {
				transition: none;
				background-color: $blue;

				> a {
					color: $white;
					border-bottom: 1px solid transparent;
				}
			} // &hover -> sub-menu
		} // li:not(...)

		#menu-item-4486, #menu-item-3850 {
			display: none;

			// > a {
			// 	display: inline-block;
			// 	padding: 0.6rem 2.3rem;
			// 	width: 12rem;
			// 	margin-top: 1.5rem;
			// 	font-family: $carbon;
			// 	font-size: 0.875rem;
			// 	background-color: $orange;
			// 	color: $light-black;
			// 	box-shadow: $blue-shadow;
			// 	border-bottom: none;
			// 	text-transform: uppercase;
			// 	letter-spacing: 1px;

			// 	&:hover {
			// 		background-color: $dark-blue;
			// 		color: $white;
			// 	}
			// }
		}

		// sub menu base styles (applies to nested sub-menus as well)
		// sub menu hidden state
		.sub-menu {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 5;
			padding-top: 0.5rem; // push links down slightly

			// first slide-out links
			a {
				visibility: hidden;
				opacity: 0;
				transition: 0.1s ease-in;
				padding: 0.6rem 0 !important;
			}

			// second slide-out links
			> li > .sub-menu {
				visibility: hidden;
				opacity: 0;
				transition: 0.1s ease-in;
			}
		}

		// sub-menu shown state
		.sub-menu-open {
			display: block;
			visibility: visible;
			opacity: 1;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			transition: opacity 0.2s;
			background-color: $white;
			overflow: scroll;
			@include bp(xs) { width: 16rem; }

			a {
				visibility: visible;
				opacity: 1;
				transition: 0.2s ease-out;
			}

			> li > .sub-menu {
				visibility: hidden;
				opacity: 0;
				width: 0;

				a {
					visibility: hidden;
					opacity: 0;
				}
			}

			> li > .sub-menu-open {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				visibility: visible;
				background-color: $white;
				opacity: 1;
				transition: opacity 0.2s;
				z-index: 8;
				overflow: scroll;
				@include bp(xs) { width: 19rem; }

				li {
					width: 100%;
				}

				a {
					visibility: visible;
					opacity: 1;
					width: 15rem;
					margin: 0 2rem;
				}
			}
		}
	} // .nav-menu

	// override for back button colors on menu
	#mobile-back-btn {
		color: $blue !important;
		&:hover { color: $white !important; }
	}
}