.top-search {
	margin: 3rem auto;
}

.category-select {
	all: unset;
	max-width: 13.5rem;
	width: 100%;
	border: 1px solid $blue;
	color: $light-black;
	font-family: $font-body;
	font-size: 0.875rem;
	padding: 0.35rem;
	cursor: pointer;
}