.main-program-container {
	max-width: 100%;
	margin: 5rem auto;

	p {
		margin: 0 auto;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	// normal styling starts here
	.interior-block {
		margin: 5rem auto;

		h2 {
			margin: 0;
			padding-bottom: 0.5rem;
		}

		.plain-link {
			display: inline-block;
			margin: 0.7rem 0 0.3rem;
			font-weight: bold;
			color: $blue;

			&:hover {
				text-decoration: none;
			}
		}
	}
}