// basic font styles
a, p, span, address, blockquote {
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.2;
	font-family: $font-body;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
}

p {
	font-size: 0.875rem;
	color: $light-black;
	line-height: 1.3;
}

// base link styles
a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

.plain-link {
	font-size: 0.875rem;
	color: $light-black;
	text-decoration: none;
	&:hover { text-decoration: underline;}
}

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: 600;
	color: $dark-blue;
}

h1, .h1-heading {
	font-size: 2rem;
	@include bp(xs) { font-size: 2.5rem; }
	@include bp(sm) { font-size: 3rem; }
	@include bp(md) { font-size: 3.375rem; }

	&--w {
		@extend .h1-heading;
		color: $white;
	}
}

h2, .h2-heading {
	font-size: 1.5rem;
	@include bp(sm) { font-size: 2.5rem; }

	&--w {
		@extend .h2-heading;
		color: $white;
	}
}

h3, .h3-heading {
	font-size: 1.75rem;
	margin-bottom: 1.25rem;
	@include bp(xs) { font-size: 2rem; }
	@include bp(lg) { font-size: 2.2rem; }

	&--w {
		@extend .h3-heading;
		color: $white;
	}
}

h4, .h4-heading {
	font-size: 1.175rem;
	@include bp(sm) { font-size: 1.375rem;}

	&--w {
		@extend .h4-heading;
		color: $white;
	}
}

h5, .h5-heading {
	font-size: 1.125rem;

	&--w {
		@extend .h5-heading;
		color: $white;
	}
}

h6, .h6-heading {
	font-size: 0.875rem;

	&--w {
		@extend .h6-heading;
		color: $white;
	}
}