// standard colors
$black: #000;
$light-black: #282828;
$white: #FFF;
$grey-one: #474747;
$grey-two: #515151;
$grey-three: #595959;
$grey-four: #666666;
$grey-five: #979797;
$grey-six: #A4A4A4;
$grey-seven: #898989;
$grey-eight: #A8A8A8;
$grey-nine: #D8D8D8;
$grey-ten: #EDEDED;
$steel-grey: #88939E;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// theme colors
$blue: #003DA5;
$dark-blue: #00235F;
$pale-blue: #C1CDE0;
$sky-blue: #E8F0FF;
$glass-blue: #2A4BAC;
$glass-overlay: rgba($glass-blue, 0.5);
$orange: #F1BE48;
$table-gold: #FFDF93;
$table-gold-light: #FFF8E9;

// shadows
$blue-shadow: 0 8px 11px -10px $dark-blue;
$nav-shadow: 0 2px 10px rgba($grey-two, 0.8);

// fonts
$font-head: azo-sans-web, sans-serif;
$font-body: azo-sans-web;
$carbon: t26-carbon, monospace;
$font-color: $blue; // Primary font color (for buttons, links, etc)

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$tablet: 767px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}