// Extra temporary styles here (removeable styles)
@import 'variables';
@import 'typography';

// covid resource banner
.covid-resources {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $orange;

	@include bp(xs) {
		flex-direction: row;
		justify-content: space-between;
		padding: 1.5rem 2.6rem;
	}

	h2 {
		display: inline-block;
		color: $light-black;
		margin-top: 0;
		margin-bottom: 1.5rem;
		@include bp(xs) { margin-bottom: 0; }
	}
}

.fax-num {
	display: block;
	font-size: 0.875rem;
	line-height: 1.3;
	color: $white;
}

.interior-block-default .wp-block-image img {
	max-width: 100%;
}