<h3 class="hide-on-desktop">Staff</h3>
<div class="mobile-instructor-wrapper">
	{% for member in foundation_members %}
	<div class="isc">
		{% if member.terms('member-type') | join(', ') == 'Staff' %}

			{# controls dropdown box below #}
			<button class="mobile-dropdown-toggle add-border">
				<span class="h5-heading">{{ member.title }}</span><br/>
				<span class="member-title">{{ member.member_title }}</span><br/>
				<span class="dept-name">{{ member.member_department }}</span>
			</button>

			{# this div is the dropdown block #}
			<div class="mobile-instructor-block">
				<img src="{{ TimberImage( member.member_image ).src }}" alt="{{ TimberImage( member.member_image ).alt }}" /><br/>

				{% if member.member_phone %}
					<a class="plain-link" href="tel:{{ member.member_phone }}">{{ member.member_phone }}</a><br/>
				{% endif %}

				{% if member.member_email %}
					<a id="email-lightbox" class="plain-link" href="#">Send Email</a><br/>
				{% endif %}

				{% if member.member_bio %}
					<p class="bio">{{ member.member_bio }}</p>
				{% endif %}

			</div> {# program-instructor-block #}
		{% endif %}
	</div> {# isc #}
	{% endfor %}
</div> {# instructor-wrapper #}

<h3 class="hide-on-desktop" style="padding-top: 2.5rem;">Meet the Board of Directors</h3>
<div class="mobile-instructor-wrapper">
	{% for member in foundation_members %}
	<div class="isc">
		{% if member.terms('member-type') | join(', ') == 'Board Member' %}

			{# controls dropdown box below #}
			<button class="mobile-dropdown-toggle add-border">
				<span class="h5-heading">{{ member.title }}</span><br/>
				<span class="member-title">{{ member.member_title }}</span><br/>
				<span class="dept-name">{{ member.member_department }}</span>
			</button>

			{# this div is the dropdown block #}
			<div class="mobile-instructor-block">
				<img src="{{ TimberImage( member.member_image ).src }}" alt="{{ TimberImage( member.member_image ).alt }}" /><br/>

				{% if member.member_phone %}
					<a class="plain-link" href="tel:{{ member.member_phone }}">{{ member.member_phone }}</a><br/>
				{% endif %}

				{% if member.member_email %}
					<a id="email-lightbox" class="plain-link" href="#">Send Email</a><br/>
				{% endif %}

				{% if member.member_bio %}
					<p class="bio">{{ member.member_bio }}</p>
				{% endif %}

			</div> {# program-instructor-block #}

		{% endif %}
	</div>
	{% endfor %}
</div> {# instructor-wrapper #}