<h3 class="hide-on-mobile">Staff</h3>
<div class="instructor-wrapper">
	{% for member in foundation_members %}
		{% if member.terms('member-type') | join(', ') == 'Staff' %}
			<div class="program-instructor-block">
				<img src="{{ TimberImage( member.member_image ).src }}" alt="{{ TimberImage( member.member_image ).alt }}" />
				<div class="instructor-info">
					<h5>{{ member.title }}</h5>
					<p>{{ member.member_title }}</p>
					<p class="dept-name">{{ member.member_department }}</p>

					<div class="info-dropdown">
						{% if member.member_phone %}
							<a class="plain-link" href="tel:{{ member.member_phone }}">{{ member.member_phone }}</a><br/>
						{% endif %}

						{% if member.member_email %}
							<a id="email-lightbox" class="plain-link" href="#">Send Email</a><br/>
						{% endif %}

						{% if member.member_bio %}
							<p class="bio">{{ member.member_bio }}</p>
						{% endif %}
					</div>
					<button class="dropdown-toggle">More Information</button>
				</div>
			</div> {# program-instructor-block #}
		{% endif %}
	{% endfor %}
</div> {# instructor-wrapper #}

<h3 class="hide-on-mobile" style="padding-top: 2rem;">Meet the Board of Directors</h3>
<div class="instructor-wrapper">
	{% for member in foundation_members %}
		{% if member.terms('member-type') | join(', ') == 'Board Member' %}
			<div class="program-instructor-block">
				<img src="{{ TimberImage( member.member_image ).src }}" alt="{{ TimberImage( member.member_image ).alt }}" />
				<div class="instructor-info">
					<div style="min-height: 7rem;">
						<h5>{{ member.title }}</h5>
						<p>{{ member.member_title }}</p>
						<p class="dept-name">{{ member.member_department }}</p>
					</div>

					<div class="info-dropdown">
						{% if member.member_phone %}
							<a class="plain-link" href="tel:{{ member.member_phone }}">{{ member.member_phone }}</a><br/>
						{% endif %}

						{% if member.member_email %}
							<a id="email-lightbox" class="plain-link" href="#">Send Email</a><br/>
						{% endif %}

						{% if member.member_bio %}
							<p class="bio">{{ member.member_bio }}</p>
						{% endif %}
					</div>
					<button class="dropdown-toggle">More Information</button>
				</div>
			</div> {# program-instructor-block #}
		{% endif %}
	{% endfor %}
</div> {# instructor-wrapper #}