{# check if it's a page, if it has a parent, and if it's a foundation page #}
{% if function('is_page') and post.parent and '/foundation/' in get_url %}
	<header class="standard-foundation-header">
		<div class="image-container" style="background-image: url('{{ post.thumbnail.src }}');">
			<div class="foundation-overlay-text">
				<h1 class="h1-heading--w">{{ post.title }}</h1>
			</div>
		</div>
	</header>
{% else %}
{# this page does not have a parent (this is the parent) #}
	<header class="foundation-header-wrapper">
		<div class="image-container" style="background-image: url('{{ post.thumbnail.src }}');">
			<div class="foundation-overlay-text">
				{% if post.get_field('small_top_header') %}
					<span>{{ post.get_field('small_top_header') }}</span>
				{% endif %}

				<h1 class="h1-heading--w">{{ post.get_field('foundation_page_title') }}</h1>

				{% if post.get_field('include_button') %}
					<a class="default-button--w" href="{{ post.get_field('button_link') }}">{{ post.get_field('button_text') }}</a>
				{% endif %}
			</div>
		</div>
	</header>
{% endif %}