{% extends 'base.twig' %}

{% block content %}
<div class="global-page-wrapper">
	<div class="interior-block" style="max-width: 44rem;">
		{{ post.content }}
		{% include '/templates/foundation/fnd-employee-block-desktop.twig' %}
		{% include '/templates/foundation/fnd-employee-block-mobile.twig' %}
	</div>
</div>
{% endblock %}