{% extends 'base.twig' %}

{% block content %}
<div class="global-page-wrapper">
	{% for card in post.get_field('split_cards') %}
		<div class="interior-block set-width-43">
			<div class="split-cards">
				<img src="{{ TimberImage( card.left_image ).src }}" alt="{{ TimberImage( card.left_image ).alt }}" />
				<div class="split-overlay">
					<h2 class="h2-heading--w">{{ card.right_header }}</h2>
					<p>{{ card.right_paragraph }}</p>
					<a class="default-button--w" href="{{ card.right_button_link }}">Learn More</a>
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="interior-block set-width-43">
		<div class="action-cards-container">
			{% for cta_card in post.get_field('cta_cards') %}
				<div class="card-block">
					<img src="{{ TimberImage(cta_card.cta_image).src }}" alt="{{ TimberImage(cta_card.cta_image).alt }}" />
					<div class="info-section">
						<h4 class="h4-heading--w">{{ cta_card.cta_title }}</h4>
						<p>{{ cta_card.cta_info }}</p>
						<a class="learn-more--w" href="{{ cta_card.cta_page_link }}">{{ cta_card.cta_link_text }}</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}