// Shares style with: [angled-list-split-right], [student-testimonial]
.angled-list-split-right {
	position: relative; // parent
	display: block;
	max-width: 100%;
	margin: 7rem auto 12rem;
	@include bp(sm) { margin: 3rem auto 6.5rem; }

	.info-box {
		display: block;
		max-width: 20rem;
		width: 100%;
		position: relative;
		bottom: -6rem;
		left: 50%;
		transform: translateX(-50%);
		background: rgba($blue, 0.95);
		padding: 1rem;
		clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
		z-index: 3;

		@include bp(sm) {
			position: absolute;
			top: 50%;
			left: unset;
			bottom: unset;
			transform: translateY(-50%);
			max-width: 35.75rem;
			width: 100%;
			padding: 1.5rem 8.5rem 1.5rem 2.5rem;
			clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
			z-index: 2;
		}

		&__item {
			margin: 2rem 0;
			h4 { margin: 0 auto; }

			p {
				color: $white;
				margin: 0.5rem 0;
			}
		}
	}

	.angled-image {
		display: block;
		max-height: 35rem;
		top: -6rem;
		max-width: unset; // from [_normalize.scss]
		width: 100vw;
		position: absolute;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		@include bp(sm) {
			position: relative;
			top: unset;
			left: unset;
			right: unset;
			margin-right: 0;
			margin-left: auto;
			max-width: 39rem;
			width: 100%;
			z-index: 1;
		}
	}
}