// Shares styles with: [angled-list-split-left]
.angled-list-split-left {
	position: relative; // parent
	display: block;
	max-width: 100%;
	margin: 5rem auto 3rem;
	@include bp(sm) { margin: 3rem auto 6.5rem; }

	.info-box {
		display: block;
		max-width: 20rem;
		width: 100%;
		position: relative;
		left: 50%;
		top: -4rem;
		transform: translateX(-50%);
		background: rgba($blue, 0.95);
		padding: 2.5rem 1rem 1.5rem;
		clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
		z-index: 3;

		@include bp(sm) {
			position: absolute;
			top: 50%;
			right: 0;
			left: unset;
			transform: translateY(-50%);
			max-width: 35.75rem;
			width: 100%;
			padding: 1.5rem 2.5rem 1.5rem 8.5rem;;
			clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
			z-index: 2;
		}

		&__item {
			margin: 2rem 0;
			h4 { margin: 0 auto; }

			// for p tags using the hard-coded block (for custom templates)
			p {
				color: $white;
				margin: 0.5rem 0;
			}
		}
	}

	.angled-image {
		display: block;
		max-width: unset; // from [_normalize.scss]
		max-height: 35rem;
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		@include bp(sm) {
			left: unset;
			right: unset;
			margin-left: 0;
			margin-right: auto;
			max-width: 39rem;
			width: 100%;
			z-index: 1;
		}
	}

	.width-mod {
		max-width: unset;
		@include bp(sm) { max-width: 31rem; }
	}
}