// Shares styles with: [angled-list-split-left]
.angled-image-split-left {
	position: relative; // parent
	display: block;
	max-width: 100%;
	margin: 2rem auto 14rem;
	@include bp(sm) { margin: 5rem auto; }

	.angled-info-box {
		display: block;
		max-width: 20rem;
		width: 100%;
		position: absolute;
		left: 50%;
		bottom: -9rem;
		transform: translateX(-50%);
		background: rgba($blue, 0.95);
		padding: 2.5rem 1rem 1.5rem;
		clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
		z-index: 3;

		@include bp(sm) {
			top: 50%;
			right: 0;
			left: unset;
			bottom: unset;
			transform: translateY(-50%);
			max-width: 35.75rem;
			width: 100%;
			padding: 7.375rem 2rem 8.375rem 7.625rem;
			clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
			z-index: 2;
		}

		h2 { margin: 0 auto; }

		p {
			margin-bottom: 2.7rem;
			color: $white;
		}
	}

	// for the "slimmer" versions - add this class
	.padding-mod {
		@include bp(sm) {
			padding: 6.375rem 10rem 6.375rem 3rem;
		}

		p {
			padding-top: 1rem;
			margin-bottom: 0;
			text-align: center;
		}
	}

	.angled-image {
		display: block;
		max-height: 35rem;
		max-width: unset; // from [_normalize.scss]
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		@include bp(sm) {
			left: unset;
			right: unset;
			margin-left: 0;
			margin-right: auto;
			max-width: 43.25rem;
			width: 100%;
			clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
			z-index: 1;
		}
	}
}