.award-grid-block {
	max-width: 45rem; // 100% of container but needed for backend to display
	margin: 1.5rem auto;

	&--grid {
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(13.8rem, 13.8rem));
		column-gap: 1.25rem;
		row-gap: 2rem;
		justify-content: center;
	}

	&__inner {
		img { display: block; }

		span {
			display: inline-block;
			margin-top: 0.5rem;
			font-size: 0.875rem;
			font-weight: bold;
			color: $blue;
		}

		// important to override h4 styling for all other interior block h4's
		h4 { margin-top: 0.5rem !important; }

		.small-print {
			font-size: 0.625rem;
			margin: 0.2rem 0;
		}
	}
}