.standard-dropdown-container {
	max-width: 45rem;
	margin: 0 auto;

	.dropdown-block-title {
		position: relative;
		font-size: 1.2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		@include bp(600px) { font-size: 2rem; }

		&:hover { cursor: pointer; }

		&:after {
			content: '\f078';
			position: absolute;
			font-size: 16px;
			top: 0.2rem;
			right: 0;
			font-family: FontAwesome;
			transition: 0.3s ease-in;

			@include bp(600px) {
				top: 1.5rem;
				font-size: 22px;
			}
		}
	}

	.chevron-rotate:after {
		transform: rotate(180deg);
		transition: 0.3s ease-in;
	}

	.set-border {
		border-bottom: 1px solid $pale-blue;
	}

	.dropdown-content {
		border-bottom: 1px solid $pale-blue;
	}
}