// pdf file grid: [2 cols / x rows]
// used in [single-program.twig]
.file-grid {
	display: grid;
	max-width: 45rem; // accounts for padding and column gaps
	margin: 5rem auto 5rem;
	grid-template-columns: repeat(auto-fill, 13.5rem);
	column-gap: 1.25rem;
	row-gap: 2.5rem;
	justify-content: center;
	@include bp(sm) { justify-content: start; }

	&__grid-item {
		border: 1px solid $pale-blue;

		.top, .bottom { display: inline-block; }

		.top {
			width: 100%;
			font-size: 0.875rem;
			color: $blue;
			font-weight: bold;
			background-color: $sky-blue;
			padding: 0.8rem 1rem 0;
			min-height: 5rem;
			@include bp(sm) { min-height: 8rem; }
		}

		.bottom {
			padding: 0.25rem 0;

			a {
				display: inline-block;
				padding: 0.2rem 1rem;
			}
		}
	}
}