// Split cards - image left and overlay right
.split-cards {
	max-width: 100%;
	margin: 0 auto;
	position: relative;

	img {
		display: block;
		max-width: 25.5rem;
		width: 100%; // keeps inside container on mobile (re-flow)
		margin-left: 0;
	}

	.split-overlay {
		display: block;
		max-width: 25.5rem;
		width: 100%;
		background-color: rgba($blue, 0.95);
		padding: 1.25rem 2rem;

		@include bp(xs) {
			width: 24.25rem;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		h2 { margin: 0; }
		p { color: $white; }
	}
}