.action-cards-container {
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@include bp(xs) {
		justify-content: space-around;
	}

	@include bp(700px) {
		justify-content: space-between;
		align-items: flex-start;
	}

	.card-block {
		max-width: 13.8rem;

		img {
			display: block;
		}

		.info-section {
			max-width: 12.5rem;
			margin: -1.5rem auto 1.5rem;
			background-color: rgba($blue, 0.95);
			padding: 1.6rem 1rem 0.6rem;
			position: relative;
			z-index: 5;

			h4 { margin: 0; }

			p {
				min-height: 6rem;
				color: $white;
			}
		}
	}
}